<table class="table table-sm fs-12">
  <thead>
  <tr>
    <th><input type="checkbox" #selectedAll (change)="selectAll(selectedAll.checked)"></th>
    <th>Назва</th>
    <th>Назва англ.</th>
    <th>Код спеціальності</th>
    <th>Спеціальність</th>
    <th>Ступінь</th>
    <th>Вартість навчання (повна)</th>
    <th>paymentExtramural (скорочена)</th>
    <th>Гарант програми</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows">
    <td><input #selectedItem (change)="selectItem(selectedItem.checked, row.id)" type="checkbox"></td>
    <td>{{row.name}}</td>
    <td>{{row.nameEng}}</td>
    <td>{{row.speciality.code}}</td>
    <td>{{row.speciality.name}}</td>
    <td>{{row.degree.name}}</td>
    <td>{{row.paymentFullTime}}</td>
    <td>{{row.paymentExtramural}}</td>
    <td>{{row.educationalProgramHeadName}}</td>
  </tr>
  </tbody>
</table>
