 <div class="approverContainer">
  <div class="header">
    <mat-slide-toggle [(ngModel)]="active" [checked]="active">Чинні падписанти
   <!--    (change)="loadTeachers($event.checked, allFaculties)">-->
  <!--    {{active ? 'Актуальні': 'Неактуальні'}} викладачі-->
    </mat-slide-toggle>

  </div>
  <div class="content">
    <table>
      <caption>Підписанти факультету</caption>
      <tr>
        <th>П.І.Б.</th>
        <th>Посада</th>
        <th></th>
      </tr>
      <tbody>
        <tr *ngFor="let approver of facultyApprovers">
          <td>{{approver.fullName}}</td>
          <td>{{approver.position}}</td>
          <td><button class="btn btn-danger align-middle" (click)="removeOrder(approver.id)">Видали</button></td>
        </tr>
      <tbody>
    </table>
    <table>
      <caption>Загальноуніверситетські підписанти</caption>
      <tr>
        <th>П.І.Б.</th>
        <th>Посада</th>
      </tr>
      <tbody>
        <tr *ngFor="let approver of universityApprovers">
          <td>{{approver.fullName}}</td>
          <td>{{approver.position}}</td>
        </tr>
      <tbody>
    </table>
    <order-approvers-form
      (newApproverSave) = "onCreateOrderApprover($event)"
    ></order-approvers-form>

  </div>
 </div>



