::ng-deep .modal-dialog {
  max-width: 95%;
}

.modal-header{
  text-align: center;
}
.modal-body{
  display: flex;
}

.modal-full {
  min-width: 95%;
  margin: 0 auto;

  .tab-body {
    height: 70vh;
    overflow: auto;

    &.correct-data table {
      border:2px solid green;
    }

    &.wrong-data table {
      border:2px solid red;
    }
  }
}
.loader__content {
  padding: 60px 0 70px 0;
}
