
<!--<div id = 'modalSC' class="modal"-->
<!--     bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" >-->
<!--  <div class="modal-dialog" [ngClass]="tableView && 'modal-full'" role="document">-->

<!--    <div class="modal-content ">-->
      <div class="modal-header">
        <h4 class="modal-title">{{modalName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)=bsModalRef.hide()>
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <div class="modal-body">
        <form #inputFileForm="ngForm">
          <div class="input-group" *ngIf="fileField" >
            <input
              type="file"
              name="file"
              class="custom-file-input"
              id="importFile"
              accept=".csv"
              #file="ngModel"
              [ngModel]="fileNameValid"
              appExpectedName=".+.(csv)$"
              (change)="setFileName($event)"
              required
            >
            <label class="custom-file-label" for="importFile">{{fileName}}</label>

            <div class="w-100 mt-4" *ngIf="!file.valid && file.dirty">
              <p class="alert alert-danger" *ngIf="file.errors?.appExpectedName">
                Некоректне розширення файлу
              </p>
            </div>
          </div>
        </form>

        <div class="loader__content" *ngIf="uploadInProgress">
          <loading [size]="50"></loading>
        </div>

        <tabset *ngIf="tableView">
          <tab class="tab-body correct-data" heading="Коректні дані">
            <table class="table table-sm table-striped table-bordered mt-4">
              <thead>
              <tr>
                <th>
                  <input type="checkbox" (change)="changeAllIsSelected($event.target.checked)"
                         [ngModel]="allRowsIsSelected">
                </th>
                <th>Назва</th>
                <th>Семестр</th>
                <th>Викладач</th>

                <th>Кафедра</th>
                <th>Галузь знань</th>
                <th>Цикл</th>
                <th>Опис</th>

              </tr>
              </thead>
              <tr *ngFor="let course of selectiveCoursesCorrect let i = index">
                <td><input type="checkbox" checked [(ngModel)]="course.selected" (change)="coursesSelect()"></td>
                <td>{{ course?.courseName}}</td>
                <td>{{ course?.semester }}</td>
                <td>{{ course?.teacher}}</td>
                <td>{{ course?.departmentAbbr}}</td>
                <td>{{ course?.fieldsOfKnowledge}}</td>
                <td>{{ course?.trainingCycle }}</td>
                <td>{{ course?.description }}</td>
              </tr>
            </table>
          </tab>
          <tab class="tab-body wrong-data" heading="Некоректні дані">
            <table class="table table-sm table-striped table-bordered mt-4">
              <thead>
              <tr>
                <th>Назва</th>
                <th>Семестр</th>
                <th>Викладач</th>
                <th>Кафедра</th>
                <th>Галузь знань</th>
                <th>Цикл</th>
                <th>Опис</th>
                <th>Повідомлення</th>
              </tr>
              </thead>
              <tr *ngFor="let course of selectiveCoursesIncorrect; let i = index">
                <td>{{ course?.courseName}}</td>
                <td>{{ course?.semester }}</td>
                <td>{{ course?.teacher}}</td>
                <td>{{ course?.departmentAbbr}}</td>
                <td>{{ course?.fieldsOfKnowledge}}</td>
                <td>{{ course?.trainingCycle }}</td>
                <td>{{ course?.description }}</td>
                <td>{{ course?.message}}</td>
              </tr>
            </table>
          </tab>
        </tabset>

        <div *ngIf="resultView" class="m-2">
          <p> Додано предметів: {{updatedData}}</p>
          <table class="table table-sm table-striped table-bordered mt-4 result-table"
                 *ngIf="isNotUpdatedData">
            <caption>Не додані студенти:</caption>
            <tr *ngFor="let course of notUpdatedData">
              <td>{{ course }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="modal-footer d-inline">
        <button class="btn btn-success" *ngIf="downloadButton" (click)="onFileUpload()"
                [disabled]="uploadInProgress || !inputFileForm.form.valid">
          Завантажити
        </button>

        <ng-container *ngIf="tableView">
            <div class="form-group row">
              <label class="col col-form-label" for="degree">Ступінь:</label>
              <select [(ngModel)]="degreeId" name="degree" id="degree" class="col-2 form-control">
                <option *ngFor='let degree of degrees' value={{degree.id}}>{{degree.name}}</option>
              </select>
              <div class="col-2">
              </div>
              <label class="col-1 col-form-label" for="studyYear">Навчальний рік:</label>
              <div class="col-1">
                <input [(ngModel)]="studyYear" type="number" min=2020 max=2050 class="form-control" id="studyYear" >
              </div>
              <div class="col-3">
              </div>
              <div class="col">
              <button class="btn btn-success mr-2" type="button"  (click)="saveImportCourses()"
                      [disabled]="saveButton">
                Зберегти
              </button>
              </div>
              <div class="col">
              <button class="btn btn-primary mr-2" type="button" (click)=bsModalRef.hide()>Скасувати</button>
              </div>
            </div>
        </ng-container>
        <button class="btn btn-primary" *ngIf="resultView" type="button" (click)="bsModalRef.hide()">Закрити</button>
      </div>


  <script>
    $('#modalSC').modal({backdrop: 'static', keyboard: false})
  </script>



