<div
  class="modal fade"
  [config]="{backdrop: 'static'}"
  bsModal
  #modal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="position-relative modal-dialog modal-dialog-centered">
    <form class="modal-content" [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <h4 class="modal-title">Створити наказ</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex overflow-auto">
        <div class="controls container">
          <div class="row mb-3">
            <div class="col-12">
              <label for="order-type"> Тип наказу </label>
              <select
                id="order-type"
                class="form-control"
                formControlName="orderType"
                (change)="changeOrderType($event.target.value)"
              >
                <option
                  *ngFor="let type of orderTypes;"
                  [value]="type.value"
                >
                  {{type.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label for="order-number"> Номер наказу </label>
              <input
                formControlName="orderNumber"
                id="order-number"
                type="text"
                placeholder="Номер наказу"
                class="form-control"
                [appValidation]="createOrderForm.get('orderNumber')"
              >
              <app-validation-errors [control]="createOrderForm.get('orderNumber')"></app-validation-errors>
            </div>
            <div class="col-6">
              <label for="order-date" class="required">Дата наказу</label>
              <input
                id="order-date"
                type="date"
                formControlName="orderDate"
                class="form-control"
                [appValidation]="createOrderForm.get('orderDate')"
              >
              <app-validation-errors [control]="createOrderForm.get('orderDate')"></app-validation-errors>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit" [disabled]="createOrderForm.invalid || loading">
          Створити
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #createOrderTemplateRef></ng-template>
