<div
  class="modal fade"
  [config]="{backdrop: 'static'}"
  bsModal
  #modal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
    <div class="position-relative modal-container">
      <form class="modal-content h-100" [formGroup]="creatOrderForm" (ngSubmit)="onSubmit()">
          <div class="modal-header">
            <h4 class="modal-title">Створити наказ</h4>
            <button type="button" class="close" aria-label="Close" (click)="hideModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body d-flex overflow-auto">
            <div class="controls container">
              <div class="row mb-3">
                <div class="col-12">
                  <label for="order-type"> Тип наказу </label>
                  <select
                    id="order-type"
                    class="form-control"
                    formControlName="orderType"
                    (change)="changeOrderType($event.target.value)"
                  >
                    <option
                      *ngFor="let type of orderTypes;"
                      [value]="type.type"
                    >
                      {{type.type}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="order-number"> Номер наказу </label>
                  <input formControlName="orderNumber" type="text"
                         placeholder="Номер наказу" id="order-number" class="form-control">
                </div>
                <div class="col-6">
                  <label for="order-date" class="required">Дата народження</label>
                  <input id="order-date" type="date" formControlName="orderDate" class="form-control" >
                </div>
              </div>
            </div>
            <div class="document-overview">
              <div>Документ очікує введення даних...</div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" [disabled]="creatOrderForm.invalid">
              Створити
            </button>
          </div>
      </form>
    </div>
</div>
