<div *ngFor="let s of selectiveCoursesStudentDegrees">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th colspan="6">
        {{s.studentDegree.student.surname}} {{s.studentDegree.student.name}} {{s.studentDegree.student.patronimic}},
        {{s.studentDegree.specialization.faculty.abbr}},
        {{s.studentDegree.specialization.speciality.code}} {{s.studentDegree.specialization.speciality.name}},
        {{s.studentDegree.studentGroup.name}}
      </th>
    </tr>
    <tr>
      <th scope="col">Дисципліна</th>
      <th scope="col">Семестр</th>
      <th scope="col">Цикл</th>
      <th scope="col">Кафедра</th>
      <th scope="col">Викладач</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let course of s.selectiveCourses; let i = index" [ngStyle]="{ 'color': course.available ? 'black' : 'red'}">
      <tr>
        <td>{{course.course.courseName.name}}</td>
        <td>{{course.course.semester}}</td>
        <td>{{typeCycle[course.trainingCycle]}}</td>
        <td>{{course.department.abbr}}</td>
        <td>{{course.teacher | nameWithInitials}}</td>
        <td>
          <button type="button" (click)="substituteCourse(i)">
            <img src="assets/img/edit.jpg" class="rounded-lg" style="width: 25px; height: 25px">
          </button>
          <button class="btn"><i class="fa fa-folder"></i></button>
        </td>
      </tr>
      <tr *ngIf="isBeingEdited[i]">
        <td><input [(ngModel)]="searchText" class="form-control mr-2 search"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="rounded-lg mr-1" type="button" style="width: 40px" (click)="saveSubstituteCourse(i)">
            <img src="assets/img/save.jpg" style="width: 25px; height: 25px">
          </button>
          <button class="rounded-lg" type="button" style="width: 40px" (click)="cancelSubstituteCourse(i)">
            <img src="assets/img/cancel.jpg" style="width: 25px; height: 25px">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
