<div [@dialog] *ngIf="visible" class="dialog">
  <h1 class="h1">Викладачі</h1>
  <div>
    <input [(ngModel)]="searchText" placeholder="Пошук за викладачем" class="form-control mr-2 ng-pristine ng-valid ng-touched search">
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let teacher of teachers | teacherSearch : searchText" (click)="selectTeacher(teacher)">{{teacher.surname}} {{teacher.name}} {{teacher.patronimic}}</li>
  </ul>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
