<div class="container-fluid h-100">
  <div class="row h-100 flex-column">
    <div class="col content overflow-auto">
      <div class="d-flex flex-column h-100 overflow-auto">
        <div class="d-flex my-2 align-items-center">
          <label class="mr-auto ml-1 m-0">
            <input type="checkbox"
                   [checked]="active"
                   (change)="active =!active; loadGroups(active)">
            Актуальні групи
          </label>
          <div class="float-right">
            <button type="button" class="btn btn-danger align-middle"
                    [disabled]="selectedGroups.length === 0"
                    (click)="deleteGroupModal.openModal(gridApi.getSelectedRows())">
              Видалити
            </button>

            <button type="button" class="btn btn-warning align-middle"
                    [disabled]="selectedGroups.length === 0 || selectedGroups.length > 1"
                    (click)="updateGroupModal.openModal(gridApi.getSelectedRows()[0])">
              Редагувати
            </button>

            <button type="button" class="btn btn-success align-middle"
                    (click)="addGroupModal.openModal()">
              Нова група
            </button>
          </div>
        </div>
        <ag-grid-angular
          class="ag-theme-balham overflow-auto h-100"
          rowSelection="multiple"
          rowHeight="80"
          headerHeight="70"
          enableCellChangeFlash=true
          [animateRows]="true"
          [accentedSort]="true"
          [rowData]="groups"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [localeText]="localeText"
          [getRowNodeId]="getRowNodeId"
          (columnResized)="onColumnResized($event)"
          (selectionChanged)="onSelectionChanged($event)"
          (gridReady)="onGridReady($event)"
          (modelUpdated)="onModelUpdated($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
    <footer class="bg-light px-3 py-2">
      <span class="mr-3">Всього: {{count || '0'}}</span>
      <span>Вибрано: {{selectedGroups.length || '0'}}</span>
    </footer>
  </div>
</div>

<add-group #addGroupModal (addGroup)="onAddGroup($event)"
           [specializations]="specializations"
           [tuitionForms]="tuitionForms"
           [tuitionFormsKeys]="tuitionFormsKeys"
           [tuitionTerms]="tuitionTerms"
           [tuitionTermsKeys]="tuitionTermsKeys"
></add-group>

<delete-group #deleteGroupModal (deleteGroup)="onDeleteGroup($event)"
              (showErrorAlert)="showErrorAlert($event)"
></delete-group>

<update-group #updateGroupModal (updateGroup)="onUpdateGroup($event)"
              [specializations]="specializations"
              [tuitionForms]="tuitionForms"
              [tuitionFormsKeys]="tuitionFormsKeys"
              [tuitionTerms]="tuitionTerms"
              [tuitionTermsKeys]="tuitionTermsKeys"
></update-group>

<simple-notifications></simple-notifications>
