
.groups-table {
  display: flex;
  flex-direction: column;
}

group-table {
  flex: 1 0 300px;
  overflow: hidden;
}

.content {
  overflow: auto;
  margin-bottom: 54px;
}

.selection-panel{
  &.search{
    display: inline-block;
    width: 190px;
    margin-right: 10px;
  }
  &.active-group{
    display: inline-block;
  }
}

