<div class="modal fade" [config]="{backdrop: 'static'}" bsModal
     #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{title}}</div>
        <button type="button" class="close" aria-label="Close" (click)="emitHide()">
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</div>
