<div class="form-group">
  <label for="typeahead">ПІБ студента</label>
  <input [(ngModel)]="val"
         [typeahead]="dataSource"
         (typeaheadOnSelect)="onSelect($event)"
         [typeaheadOptionsLimit]="7"
         [typeaheadWaitMs]="300"
         [typeaheadMinLength]="3"
         [typeaheadItemTemplate]="template"
         class="form-control"
         id="typeahead"
         [appValidation]="control"
  >
  <app-validation-errors [control]="control"></app-validation-errors>
</div>

<ng-template #template let-model="item" let-index="index">
  <span>{{model.surname}} {{model.name}} {{model.patronimic}}</span>
</ng-template>
