<div class="modal-content">
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title"><i class="bi bi-person-lines-fill"></i> Призначення предметів студентам</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3 p-3 border-end">
        <h5><i class="bi bi-people-fill text-primary"></i> Студенти</h5>
        <div *ngFor="let student of selectedStudents" class="mb-2">
          <span class="fw-bold">{{ student.student.surname }} {{ student.student.name }}</span>
        </div>
      </div>
      <div class="col-9 p-3">
        <div class="table-responsive">
          <table class="table table-hover table-sm align-middle">
            <thead class="thead-dark">
              <tr>
                <th>Назва предмету</th>
                <th class="text-center">Контроль</th>
                <th class="text-center">Вид предмету</th>
                <th class="text-center">Години</th>
                <th class="text-center">Кредити</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of selectedCourses">
                <td>{{ course.courseName.name }}</td>
                <td class="text-center">{{ course.knowledgeControl.name }}</td>
                <td class="text-center">{{ courseTypeEnum[courseType] }}</td>
                <td class="text-center">{{ course.hours }}</td>
                <td class="text-center">{{ course.credits }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer border-top">
    <button type="button" class="btn btn-outline-success" (click)="save()">Зберегти</button>
    <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Скасувати</button>
  </div>
</div>
