<div pl-4><h4>Ви хочете призначити такі предмети таким студентам</h4></div>
<div class="modal-body">
  <div class="row">
    <div class="col-4">
      <div *ngFor="let student of selectedStudents">
        {{ student.student.surname }} {{ student.student.name }}
      </div>
    </div>
    <div class="col-8">
      <div class="row" *ngFor="let course of selectedCourses">
        <div class="col-8">{{ course.courseName.name }}</div>
        <div class="col-2">{{ course.knowledgeControl.name }}</div>
        <div class="col-1">{{ course.hours }}</div>
        <div class="col-1">{{ course.credits }}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="save()">Зберегти</button>
    <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Скасувати зміни</button>
  </div>
</div>

