ul{
  margin-top: 10px;
}

li {
  cursor: pointer;
}

.form-group {
  height: 80vh;
  overflow: auto;
}

::ng-deep .modal-dialog  {
  max-width: 80%;
}

::ng-deep .modal-content {
  width: fit-content;
}
