<div class="modal-header">
  <h4 class="modal-title">Виберіть групу для копіювання</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <input [(ngModel)]="searchText" placeholder="Пошук за групою"
           class="form-control mr-2 ng-pristine ng-valid ng-touched search">
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let group of groups | groupSearch: searchText"
        (click)="selectGroup(group)">{{group.name}}
    </li>
  </ul>
</div>
