.header {
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

ag-grid-angular {
  height: 80vh;
}

::ng-deep {
  .ag-root-wrapper-body.ag-layout-normal {
    height: 100%;
  }
}
