div {
  font-size: 15px;
}

.courses-for-groups {
  height: calc(100% - 108px);
}

.selection {
  .form-control {
    font-size: 15px;
    padding: 0 0.75rem;
  }
}

.prepDropdown {
  height: 2rem;
  padding: 0 0.75rem;
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.btn {
  height: 2rem;
  margin: 7px;
  padding: 0.2rem 0.75rem;
}

.--padding-zero{
  padding: 0;
}

.table{
  height: 255px;
  overflow: auto;
  margin-bottom: 5px;
}

.prepDropdown{
  margin-left: 0;
  top: 0;
}

.buttons-connected-to-table{
  margin-bottom: 3px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-left: -6px;
  margin-top: -6px;
  button{
    margin: 0;
  }
}

.--width100{
  width: 100%;
}

.--height500{
  height: 500px;
}

.pl-0{
  padding-left: 0;
}

.pr-0{
  padding-right: 0;
}

.buttons-container{
  margin-top: -6px;
}

select{
  height: 33px!important;
  font-size: 15px;
}

.search{
  height: 33px;
  font-size: 15px;
}


