<div class="container-fluid courses-for-groups">
  <div class="selection row">
    <div class="col-7">
      <div class="menu-row">
        <div class="element">
          <div class="element-header">Ступінь:</div>
          <div>
            <select class="form-control" [(ngModel)]="selectedDegreeId" (change)="onSelectedDegreeChange()">
              <option *ngFor="let degree of degrees" [ngValue]="degree.id">{{degree.name}}</option>
            </select>
          </div>
        </div>
        <div class="element">
          <div class="element-header">Навчальний рік:</div>
          <div>
            <select class="form-control mr-2" [(ngModel)]="selectedYear" (change)="onSelectedYearChange()">
              <option *ngFor="let year of years" [ngValue]="year.id">{{year.name}}</option>
            </select>
          </div>
        </div>
        <div class="element">
          <div class="element-header">Семестр:</div>
          <div>
            <select id="semester" class="form-control mr-2" [(ngModel)]="selectedSemester"
                    (change)="onSelectedSemesterChange()">
              <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester}}</option>
            </select>
          </div>
        </div>
        <div class="element-wider">
          <input [(ngModel)]="searchText" placeholder="Пошук за предметом" class="form-control mr-2 search">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="height: 100%">
    <div class="col-7 h-100">
      <div class="h-50">
        <div style="height: 85%; overflow: auto">
          <studied-courses [loading]="studiedCoursesLoading"
                           (onSelectedCoursesChange)="changeSelectedCourses($event)" [courses]="courses"
                           [searchText]="searchText"></studied-courses>
        </div>
        <div class="row-12">
          <button type="button" class="btn btn-info btn-medium ml-1" (click)="assignCourses()"
                  [disabled]="!selectedCourses.length">Призначити
          </button>
          <button type="button" class="btn btn-danger btn-medium" (click)="deleteAssignedCourses()"
                  [disabled]="!selectedAssignedCourses.length">Видалити
          </button>
          <button type="button" class="btn btn-info" (click)="copyCourses()">
            Скопіювати з іншого року
          </button>
          <div class="element">
            <div>
              <select [(ngModel)]="selectedPrepType" class="form-control prepDropdown" required>
                <option *ngFor="let type of prepTypes" [ngValue]="type">{{type.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="h-50">
        <div style="height: 90%; overflow: auto">
          <assigned-courses style="overflow: auto" [studyYear]="selectedYear" [degreeId]="selectedDegreeId"
                            [semester]="selectedSemester"
                            (onSelectedAssignedCoursesChange)="changeSelectedSelectiveCourses($event)"></assigned-courses>
        </div>
        <footer class="bg-light px-3 py-2">
          <span class="mr-3">Всього: {{assignedCoursesChild.selectiveCourses.length || '0'}}</span>
          <span class="mr-3">(скасованих: {{assignedCoursesChild.disqualifiedCourses.length || '0'}})</span>
          <span class="mr-3"> Вибрано: {{selectedAssignedCourses.length || '0'}}</span>
        </footer>
      </div>
    </div>
    <div class="col-sm">
      <div id="year-parameters">
        <div class="row">
          <button type="button" (click)="addYearParameters()" class="btn btn-primary"
                  matTooltip="Можна задати дати запису на вибіркові дисципліни та мінімальну кількість студентів на дисципліну.
                                    Додається для навчального року, наступного за поточним">
            Додати параметри н.р.
          </button>

          <button type="button" (click)="disqualifySelectiveCourses()" class="btn btn-danger">
            Дискваліф. дисципіни
          </button>

          <button type="button" (click)="isChecked = !isChecked" class="btn btn-secondary"
                  *ngIf="yearParameters.length">
            {{isChecked ? "Приховати" : "Показати"}} параметри н.р.
          </button>
        </div>

        <div class="row">
          <button type="button" (click)="editStudentSelectiveCourses()" class="btn btn-info">
            Вибіркові за студентами
          </button>
        </div>

        <div class="row">
          <button type="button" class="btn btn-info" (click)="addStudentsSelectiveCourses()">
            Добавити вибіркові дисципліни студентам
          </button>
        </div>

        <div *ngIf="isChecked && yearParameters.length">
          <year-parameters-table [yearParameters]="yearParameters"></year-parameters-table>
        </div>
      </div>
      <div class="mt-2" *ngFor="let selectiveCourse of selectedAssignedCourses">
        <registered-students class="overflow-auto" [selectiveCourseId]="selectiveCourse.id">
        </registered-students>
      </div>
    </div>
  </div>
</div>
