<div class="modal-header">
  <h4 class="modal-title">Placeholder</h4>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="creation-form">

    <div>
      <div class="row">
        <div class="col" [formGroup]="form">
          <label for="surname">Введіть прізвище студента:</label>
          <input type="text" id="surname" class="form-control" formControlName="surname"
                 [ngClass]="{ 'is-invalid': isButtonClicked && f.surname.errors }">
        </div>
      </div>
      <br>
      <div class="row justify-content-between">
        <div class="col-md-6">
          <button type="button" class="btn btn-primary" (click)="findStudentCourses(true)">
            Знайти всі вибір. дисципліни студента
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-secondary" (click)="findStudentCourses(false)">
            Знайти не дискваліф. вибір. дисципліни студента
          </button>
        </div>
      </div>
      <br>
    </div>

    <div *ngIf="selectiveCoursesStudentDegree.length">
      <student-coures-table [selectiveCoursesStudentDegree]="selectiveCoursesStudentDegree"></student-coures-table>
    </div>

      <div class="alert alert-danger"
           *ngIf="!selectiveCoursesStudentDegree.length && this.f.surname.value !== '' && isButtonClicked">
        Такого студента не було знайдено
      </div>
      <div class="alert alert-danger" *ngIf="this.f.surname.value === '' && isButtonClicked">
        Введіть прізвище
      </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Закрити</button>
    </div>
  </div>
</div>
