<group-modal #modal [title]="'Додати нову групу'" (hideModal)="hideModal()">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-item">
        <div class="form-group">
          <label for="name">Назва: </label>
          <input formControlName="name" type="text"
                 placeholder="Назва" id="name" class="form-control" >
        </div>

        <div class="form-group">
          <label for="tuitionForm">Форма: </label>
          <select formControlName="tuitionForm" class="form-control" id="tuitionForm">
            <option *ngFor="let tuitionFormsKey of tuitionFormsKeys; let i = index"
                    [attr.data-index]="i" value="{{tuitionFormsKey}}">{{tuitionForms[i]}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="tuitionTerm">Термін: </label>
          <select formControlName="tuitionTerm" class="form-control" id="tuitionTerm">
            <option *ngFor="let tuitionTermKey of tuitionTermsKeys; let i = index"
                    [attr.data-index]="i" value="{{tuitionTermKey}}">{{tuitionTerms[i]}}</option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-group">
          <label for="creationYear">Створено: </label>
          <input formControlName="creationYear"
                 type="number"
                 placeholder="Рік створення" id="creationYear" class="form-control">
        </div>

        <div class="form-group">
          <label for="beginYears">Курс початку: </label>
          <input formControlName="beginYears"
                 type="number" min="1"
                 placeholder="Курс початку" id="beginYears" class="form-control">
        </div>

        <div class="form-group">
          <label for="studyYears">Років навчання: </label>
          <input formControlName="studyYears"
                 type="text"
                 placeholder="Років навчання" id="studyYears" class="form-control">
        </div>

        <div class="form-group">
          <label for="studySemesters">Семестрів: </label>
          <input formControlName="studySemesters"
                 type="number" min="1"
                 placeholder="Семестрів" id="studySemesters" class="form-control">
        </div>
      </div>
      <div class="form-group form-row">
        <label for="specialization">Спеціалізація: </label>
        <select formControlName="specialization" class="form-control" id="specialization">
          <option *ngFor="let specialization of specializations"
                  value="{{specialization.id}}">
            {{specialization.name}}
            ({{specialization.speciality.code}} {{specialization.speciality.name}}; {{specialization.degree.name}})
          </option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success btn-submit">Створити</button>
      <button type="button" (click)="hideModal()" class="btn btn-outline-danger">Скасувати</button>
    </div>
  </form>
</group-modal>
