<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <meta name="description" content="description">
  <meta name="keywords" content="keywords">

  <title>Template</title>
  <!-- reset+bootstrap s-->
  <link type="text/css" rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- main style -->
  <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="assets/css/media.css">
</head>

<body>

<!-- header -->
<header class="section header">
  <div class="wrapper">
    <div class="logo"></div>

    <nav class="header-nav" *ngIf="loggedIn">
      <li>
        <a href=""><span class="check-icon"></span> Початок року</a>
      </li>
      <li>
        <a href="">Впродовж року <span class="check-icon"></span></a>
      </li>
      <li>
        <a href="">Кінець року <span class="check-icon"></span></a>
      </li>
      <li>
        <a href="">Документи <span class="check-icon"></span></a>
      </li>
    </nav>
    <nav class="service-nav" *ngIf="loggedIn">
      <li>
        <a class="user-add" title="User online"></a>
      </li>
      <li>
        <a class="user-logout" (click)="logout()" title="Logout"></a>
      </li>
    </nav>
  </div>
</header>

<!-- team-section -->
<div class="section main">
  <div class="wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="section footer">
  <p>Copyright text or social link</p>
</footer>

</body>

