<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="description">
  <meta name="keywords" content="keywords">
  <title>Template</title>
  <link type="text/css" rel="stylesheet" href="assets/css/reset.css">
</head>

<body>
  <div id="app">
    <app-header></app-header>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>

