<div class="container-fluid">
      <div class="selection row">
        <div class="col-7">
          Група:
          <select [(ngModel)]="selectedGroup" (change)="onGroupChange()">
            <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
          </select>
          Семестр:
          <select [(ngModel)]="selectedSemester" (change)="onSemesterChange()">
            <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester}}</option>
          </select>
          <input [(ngModel)]="searchText" placeholder="Пошук за предметом..." class="search">
        </div>
      </div>
      <div class="row">
        <div class="col-7 ">
          <studied-courses (onSelectedCoursesChange)="changeSelectedCourses($event)" [courses]="courses" [searchText]="searchText"></studied-courses>
        </div>
        <div class="col-5">
          <course-creation></course-creation>
        </div>
      </div>
  <button type="button" class="btn btn-info" (click)="addCoursesToCoursesForGroup()">Призначити</button>
  <button type="button" class="btn btn-danger">Видалити</button>
  <added-courses [selectedSemester]="selectedSemester" [selectedGroup]="selectedGroup" [selectedCoursesForGroups]="coursesForAdd"></added-courses>
</div>
