@import "../../../styles.scss";

.selection{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.btn-info{
  margin: 10px;
}

.search {
  float: right;
  clear: both;
}

.col-name{
  font-size: 15px;
  padding-right: 0pt;
}

.col-name-semester{
  font-size: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1 {
  padding-right: 0pt;
}

.mr-2[_ngcontent-c2], .mx-2[_ngcontent-c2]{
  margin-right: 0rem !important;
}

.btn-info[_ngcontent-c2] {
  margin-left: 0px;
}

.btn-success[_ngcontent-c2] {
  margin-left: 0px;
}

.copy[_ngcontent-c2] {
  margin-left: 10px;
}

.btn {
  height: 2rem;
  margin: 7px;
  padding: 0.2rem 0.75rem;
}

.count-label{
  margin-top: 15px;
}

div {
  font-size: 13px;
}

.div-table {
  height: 100%;
}

.form-control .mr-2 .ng-pristine .ng-valid .ng-touched{
  height: 1.5rem;
  font-size: 15px;
}

.form-control {
  height: 1.5rem;
  font-size: 15px;
}

select.form-control[_ngcontent-c2]:not([size]):not([multiple]) {
  height: 1.5rem;
}

.form-control[_ngcontent-c2] {
  padding: 0rem 0.75rem;
}

.count-label{
  font-size: 15px;
}

.bottom-row{
  padding-left: 14px;
}
