@import "../../../styles.scss";

.selection{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.btn-info{
  margin: 10px;
}

.search {
  float: right;
  clear: both;
}

.col-name{
  margin-top: 6pt;
  padding-right: 0pt;
}

.col-name-semester{
  margin-top: 6pt;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1 {
  padding-right: 0pt;
}

.mr-2[_ngcontent-c2], .mx-2[_ngcontent-c2]{
  margin-right: 0rem !important;
}

.btn-info[_ngcontent-c2] {
  margin-left: 0px;
}

.copy[_ngcontent-c2] {
  margin-left: 10px;
}

.btn, .form-control {
  height: 2rem;
}

.btn {
  margin: 7px;
}

.count-label{
  margin-top: 15px;
}
