<div class="container-fluid">
  <div *ngIf="!showPage">
    <loading [size]="40"></loading>
  </div>
      <div *ngIf="showPage" class="selection row">
        <div class="col-7">
          <select [(ngModel)]="selectedGroup" (change)="onGroupChange()">
            <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
          </select>
          <select [(ngModel)]="selectedSemester" (change)="onSemesterChange()">
            <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester}}</option>
          </select>
          <input [(ngModel)]="searchText" placeholder="Пошук за предметом..." class="search">
        </div>
      </div>
      <div class="row">
        <div class="col-7 ">
          <studied-courses [loading]="studiedCoursesLoading" [courses]="courses" [searchText]="searchText"></studied-courses>
        </div>
        <div class="col-5">
          <course-creation></course-creation>
        </div>
      </div>
  <added-courses></added-courses>

</div>
