<div class="container-fluid">
  <div class="row">
    <div class="col-7 scrollable mt-4">
      <div class="selection">
        <select [(ngModel)]="selectedGroup" (change)="onGroupChange()">
          <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
        </select>
        <select [(ngModel)]="selectedSemester" (change)="onSemesterChange()">
          <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester}}</option>
        </select>
        <input [(ngModel)]="searchText" placeholder="Пошук за предметом..." class="search">
      </div>
      <studied-courses (onSelectedCoursesChange)="changeSelectedCourses($event)" [courses]="courses" [searchText]="searchText"></studied-courses>
    </div>
    <div  class="col-5 scrollable mt-4">
      <course-creation></course-creation>
    </div>
  </div>
  <button type="button" class="btn btn-info" (click)="showCourses()">Перенести</button>
  <added-courses [selectedSemester]="semester" [selectedGroup]="selectedGroup" [selectedCoursesForGroups]="coursesForGroup" [show]="showAdded"></added-courses>
</div>
