<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Дата початку 1 туру</th>
            <th scope="col">Дата закінчення 1 туру</th>
            <th scope="col">Дата початку 2 туру</th>
            <th scope="col">Дата закінчення 2 туру</th>
            <th scope="col">Мін. к-сть студентів на 1 предмет</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{yearParameters.firstRoundStartDate}}</td>
          <td>{{yearParameters.firstRoundEndDate}}</td>
          <td>{{yearParameters.secondRoundStartDate}}</td>
          <td>{{yearParameters.secondRoundEndDate}}</td>
          <td>{{yearParameters.minStudentsCount}}</td>
        </tr>
    </tbody>
</table>
