<form [formGroup]="form">
  <tabset>
    <tab heading="Загальна інформація">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="name">Назва</label>
            <input formControlName="name" type="text" class="form-control" id="name">
            <!--<app-validation-errors [control]="form.controls.name"></app-validation-errors>-->
          </div>

          <div class="form-group">
            <label for="nameEng">Назва англ.</label>
            <input formControlName="nameEng" type="text" class="form-control" id="nameEng">
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="specialityId" class="required">Спеціальність</label>
            <select formControlName="specialityId" class="form-control" id="specialityId"
                    [appValidation]="form.controls.specialityId">
              <option *ngFor="let speciality of specialities" [ngValue]="speciality.id">
                {{speciality.code + ' ' + speciality.name}}
              </option>
            </select>
            <app-validation-errors [control]="form.controls.specialityId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="degreeId" class="required">Ступінь</label>
            <select formControlName="degreeId" class="form-control" id="degreeId"
                    [appValidation]="form.controls.degreeId">
              <option *ngFor="let degree of degrees" [ngValue]="degree.id">{{degree.name}}</option>
            </select>
            <app-validation-errors [control]="form.controls.degreeId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="departmentId">Кафедра</label>
            <select formControlName="departmentId" class="form-control" id="departmentId">
              <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-6 position-relative">
          <div class="h6 payment-title">Вартість навчання:</div>
          <div class="form-group ml-3">
            <label for="paymentFulltime">Повної форми</label>
            <input formControlName="paymentFulltime" type="number" class="form-control" id="paymentFulltime">
          </div>

          <div class="form-group ml-3">
            <label for="paymentExtramural">Скороченої форми</label>
            <input formControlName="paymentExtramural" type="number" class="form-control" id="paymentExtramural">
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="qualification">Кваліфікація</label>
            <input formControlName="qualification" type="text" class="form-control" id="qualification">
          </div>

          <div class="form-group">
            <label for="qualificationEng">Кваліфікація англ.</label>
            <input formControlName="qualificationEng" type="text" class="form-control" id="qualificationEng">
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Гарант програми">
      <div class="row">
        <div class="form-group col-6">
          <label for="educationalProgramHeadName">Гарант програми</label>
          <input formControlName="educationalProgramHeadName" type="text" class="form-control"
                 id="educationalProgramHeadName">
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadName"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadNameEng">Гарант програми англ.</label>
          <input formControlName="educationalProgramHeadNameEng" type="text" class="form-control"
                 id="educationalProgramHeadNameEng">
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadNameEng"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadInfo">Інформація про гаранта програми</label>
          <textarea formControlName="educationalProgramHeadInfo" type="text" class="form-control ta-4l"
                    id="educationalProgramHeadInfo">
          </textarea>
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadInfo"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadInfoEng">
            Інформація про гаранта програми англ.
          </label>
          <textarea formControlName="educationalProgramHeadInfoEng" type="text" class="form-control ta-4l"
                    id="educationalProgramHeadInfoEng">
          </textarea>
          <!--<app-validation-errors-->
            <!--[control]="form.controls.educationalProgramHeadInfoEng"></app-validation-errors>-->
        </div>
      </div>
    </tab>

    <tab heading="Знання та навички">
      <div class="row">
        <div class="form-group col-6">
          <label for="knowledgeAndUnderstandingOutcomes">Знання та розуміння</label>
          <textarea formControlName="knowledgeAndUnderstandingOutcomes" type="text" class="form-control ta-3l"
                    id="knowledgeAndUnderstandingOutcomes"></textarea>
        </div>

        <div class="form-group col-6">
          <label for="knowledgeAndUnderstandingOutcomesEng">Знання та розуміння англ.</label>
          <textarea formControlName="knowledgeAndUnderstandingOutcomesEng" type="text"
                    class="form-control ta-3l" id="knowledgeAndUnderstandingOutcomesEng">
          </textarea>
        </div>

        <div class="form-group col-6">
          <label for="applyingKnowledgeAndUnderstandingOutcomes">Застосування знань та розумінь</label>
          <textarea formControlName="applyingKnowledgeAndUnderstandingOutcomes" type="text"
                    class="form-control ta-3l" id="applyingKnowledgeAndUnderstandingOutcomes">
          </textarea>
        </div>

        <div class="form-group col-6">
          <label
            for="applyingKnowledgeAndUnderstandingOutcomesEng">Застосування знань та розумінь англ.</label>
          <textarea formControlName="applyingKnowledgeAndUnderstandingOutcomesEng" type="text"
                    class="form-control ta-3l" id="applyingKnowledgeAndUnderstandingOutcomesEng">
          </textarea>
        </div>

        <div class="form-group col-6">
          <label for="makingJudgementsOutcomes">Формування суджень</label>
          <textarea formControlName="makingJudgementsOutcomes" type="text" class="form-control ta-3l"
                    id="makingJudgementsOutcomes">
          </textarea>
        </div>

        <div class="form-group col-6">
          <label for="makingJudgementsOutcomesEng">Формування суджень англ.</label>
          <textarea formControlName="makingJudgementsOutcomesEng" type="text" class="form-control ta-3l"
                    id="makingJudgementsOutcomesEng">
          </textarea>
        </div>
      </div>
    </tab>
  </tabset>
</form>
