<form [formGroup]="form">
  <tabset #tabset>
    <tab heading="Загальна інформація">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="name">Назва</label>
            <input formControlName="name" type="text" class="form-control" id="name">
            <!--<app-validation-errors [control]="form.controls.name"></app-validation-errors>-->
          </div>

          <div class="form-group">
            <label for="nameEng">Назва англ.</label>
            <input formControlName="nameEng" type="text" class="form-control" id="nameEng">
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="specialityId" class="required">Спеціальність</label>
            <select formControlName="specialityId" class="form-control" id="specialityId"
                    [appValidation]="form.controls.specialityId">
              <option *ngFor="let speciality of specialities" [ngValue]="speciality.id">
                {{speciality.code + ' ' + speciality.name}}
              </option>
            </select>
            <app-validation-errors [control]="form.controls.specialityId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="degreeId" class="required">Ступінь</label>
            <select formControlName="degreeId" class="form-control" id="degreeId"
                    [appValidation]="form.controls.degreeId">
              <option *ngFor="let degree of degrees" [ngValue]="degree.id">{{degree.name}}</option>
            </select>
            <app-validation-errors [control]="form.controls.degreeId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="departmentId">Кафедра</label>
            <select formControlName="departmentId" class="form-control" id="departmentId">
              <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-6 position-relative">
          <div class="h6 payment-title">Вартість навчання:</div>
          <div class="form-group ml-3">
            <label for="paymentFulltime">Повної форми</label>
            <input formControlName="paymentFulltime" type="number" class="form-control" id="paymentFulltime">
          </div>

          <div class="form-group ml-3">
            <label for="paymentExtramural">Скороченої форми</label>
            <input formControlName="paymentExtramural" type="number" class="form-control" id="paymentExtramural">
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="qualification">Кваліфікація</label>
            <input formControlName="qualification" type="text" class="form-control" id="qualification">
          </div>

          <div class="form-group">
            <label for="qualificationEng">Кваліфікація англ.</label>
            <input formControlName="qualificationEng" type="text" class="form-control" id="qualificationEng">
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Гарант програми">
      <div class="row">
        <div class="form-group col-6">
          <label for="educationalProgramHeadName">Гарант програми</label>
          <input formControlName="educationalProgramHeadName" type="text" class="form-control"
                 id="educationalProgramHeadName">
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadName"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadNameEng">Гарант програми англ.</label>
          <input formControlName="educationalProgramHeadNameEng" type="text" class="form-control"
                 id="educationalProgramHeadNameEng">
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadNameEng"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadInfo">Інформація про гаранта програми</label>
          <textarea formControlName="educationalProgramHeadInfo" type="text" class="form-control ta-4l"
                    id="educationalProgramHeadInfo">
          </textarea>
          <!--<app-validation-errors [control]="form.controls.educationalProgramHeadInfo"></app-validation-errors>-->
        </div>

        <div class="form-group col-6">
          <label for="educationalProgramHeadInfoEng">
            Інформація про гаранта програми англ.
          </label>
          <textarea formControlName="educationalProgramHeadInfoEng" type="text" class="form-control ta-4l"
                    id="educationalProgramHeadInfoEng">
          </textarea>
          <!--<app-validation-errors-->
          <!--[control]="form.controls.educationalProgramHeadInfoEng"></app-validation-errors>-->
        </div>
      </div>
    </tab>

    <tab heading="Компетенції" (select)="getCompetencies()">
      <div class="competencies">
        <loading class="competencies-loading" *ngIf="competenciesIsLoading"></loading>
        <textarea class="form-control ta-15l" *ngIf="!competenciesIsLoading"></textarea>
      </div>
    </tab>
  </tabset>
</form>
