<form [formGroup]="form">
  <tabset #tabset id="specialization-form-tabset">
    <tab heading="Загальна інформація">
      <div class="form-layout">
        <div class="form-item">
          <div class="form-group">
            <label for="name">Назва</label>
            <input formControlName="name" type="text" class="form-control" id="name" [appValidation]="form.controls.name">
          </div>
          <div class="form-group">
            <label for="nameEng">Назва англ.</label>
            <input formControlName="nameEng" type="text" class="form-control" id="nameEng">
          </div>
          <div class="form-group">
            <label for="specializationCode">Код спеціалізації</label>
            <input formControlName="code" type="text" class="form-control" id="specializationCode">
          </div>
          <div class="form-group">
            <label for="specializationName">Назва спеціалізації</label>
            <input formControlName="specializationName" type="text" class="form-control" id="specializationName">
          </div>
          <div class="form-group">
            <label for="specializationNameEng">Назва спеціалізації (англійською)</label>
            <input formControlName="specializationNameEng" type="text" class="form-control" id="specializationNameEng">
          </div>
        </div>

        <div class="form-group form-item">
          <div class="form-group">
            <div>
              <label for="specialityId" class="required">Спеціальність</label>
              <div class="form-check checkbox-group-right-align">
                <input
                  (change)="onSpecialityCheckboxChange($event)"
                  type="checkbox"
                  class="form-check-input"
                  name="allSpecialityCheckbox"
                  id="allSpecialityCheckbox">
                <label class="form-check-label" for="allSpecialityCheckbox">Всі</label>
              </div>
            </div>
            <select formControlName="specialityId" class="form-control" id="specialityId"
                    [appValidation]="form.controls.specialityId">
              <option *ngFor="let speciality of specialities" [ngValue]="speciality.id">
                {{speciality.code + ' ' + speciality.name}}
              </option>
            </select>
            <app-validation-errors [control]="form.controls.specialityId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="degreeId" class="required">Ступінь</label>
            <select formControlName="degreeId" class="form-control" id="degreeId"
                    [appValidation]="form.controls.degreeId">
              <option *ngFor="let degree of degrees" [ngValue]="degree.id">{{degree.name}}</option>
            </select>
            <app-validation-errors [control]="form.controls.degreeId"></app-validation-errors>
          </div>

          <div class="form-group">
            <label for="departmentId" class="required">Кафедра</label>
            <select formControlName="departmentId" class="form-control" id="departmentId">
              <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="normativeCreditsNumber">Нормативна кількість кредитів</label>
            <input formControlName="normativeCreditsNumber" type="text" class="form-control" id="normativeCreditsNumber">
          </div>

          <div class="form-group">
            <label for="normativeTermOfStudy">Нормативна термін навчання (років)</label>
            <input formControlName="normativeTermOfStudy" type="text" class="form-control" id="normativeTermOfStudy">
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Гарант і сертифікат">
      <div class="form-layout">
        <div class="form-item">
          <div class="h6">Гарант:</div>
          <div class="form-group">
            <div formGroupName="programHead">
            <label for="programHead">Ім'я гаранта</label>
            <input formControlName="fullName"
                   [typeahead]="teachersDataSource"
                   (typeaheadOnSelect)="onProgramHeadSelect($event)"
                   [typeaheadOptionsLimit]="12"
                   [typeaheadMinLength]="3"
                   [typeaheadItemTemplate]="template"
                   placeholder="Введіть прізвище"
                   class="form-control"
                   id="programHead"
                   autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <label for="educationalProgramHeadNameEng1">Ім'я гаранта (англійською)</label>
            <input type="text" class="form-control" id="educationalProgramHeadNameEng1" disabled>
          </div>

          <div class="form-group">
            <label for="educationalProgramHeadInfo1">Інформація про гаранта програми</label>
            <input type="text" class="form-control ta-2l" id="educationalProgramHeadInfo1"
                      value="{{currentProgramHead?.scientificDegree?.name}}, {{AcademicTitleValues[currentProgramHead?.academicTitle]?.ukr}}" disabled>
          </div>

          <div class="form-group">
            <label for="educationalProgramHeadInfoEng1">
              Інформація про гаранта програми (англійською)
            </label>
            <input type="text" class="form-control ta-2l" id="educationalProgramHeadInfoEng1"
                      value="{{currentProgramHead?.scientificDegree?.nameEng}}, {{AcademicTitleValues[currentProgramHead?.academicTitle]?.eng}}" disabled>
          </div>
        </div>

        <div class="form-item">
          <div class="h6">Сертифікат:</div>
          <div class="ml-3">
            <div class="form-group">
              <label for="certificateNumber">Номер</label>
              <input formControlName="certificateNumber" type="text" class="form-control" id="certificateNumber">
            </div>

            <div class="form-group">
              <label for="certificateDate">Дата</label>
              <input formControlName="certificateDate" type="date" class="form-control" id="certificateDate">
            </div>

            <div class="form-group">
              <label for="certificateIssuedBy">Сертифікат виданий</label>
              <input formControlName="certificateIssuedBy" type="text" class="form-control" id="certificateIssuedBy">
            </div>

            <div class="form-group">
              <label for="certificateIssuedByEng">Сертифікат виданий (англійською)</label>
              <input formControlName="certificateIssuedByEng" type="text" class="form-control" id="certificateIssuedByEng">
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Компетентності" (selectTab)="competencies.getCompetencies()" *ngIf="isShow">
      <specialization-competencies #competencies [specializationId]="initialData.id" [lang]="lang.UKR"
                                   [onlyCreating]="!updateForm">
      </specialization-competencies>
    </tab>

    <tab heading="Компетентності англ." (selectTab)="competenciesEng.getCompetencies()" *ngIf="isShow">
      <specialization-competencies #competenciesEng [specializationId]="initialData.id" [lang]="lang.ENG"
                                   [onlyCreating]="!updateForm">
      </specialization-competencies>
    </tab>

    <tab heading="Кваліфікації" (selectTab)="qualification.loadData(initialData.id)" *ngIf="isShow">
      <specialization-qualification #qualification [updateForm]="updateForm"></specialization-qualification>
    </tab>
  </tabset>
</form>

<ng-template #template let-model="item" let-index="index">
  <div class="py-2">
    <b>{{model.surname}} {{model.name}} {{model.patronimic}}</b>
  </div>
</ng-template>
