tab {
  padding-top: 3px;
}

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;

  .form-item {
    flex-grow: 1;
    min-width: 48%;
    max-width: none;
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 993px) and (min-device-width: 993px) {
  .form-layout {
    flex-direction: row;

    .form-item {
      max-width: 48%;
    }
  }
}

.input-group-title {
  position: absolute;
  top: -25px;
}

.ta-3l {
  @extend .no-resizeable;
  height: 86px;
}

.no-resizeable {
  resize: none;
}
