@import "../../../../../../styles";

.modal-body {
  @extend .modal-body;
  margin-left: 0;
  margin-right: 0;
  max-height: 55vh;
  padding: 0;
  overflow-y: auto;
}

.qualifications {
  @extend .list-group, .list-group-flush;
}

.qualification {
  @extend .list-group-item;
  padding: 10px 15px;

  &:first-child {
    border-top: none;
    padding-top: 5px;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 5px;
  }

  &.can-selected:hover, &.selected {
    @extend .bg-light;
  }

  &.can-selected {
    cursor: pointer;
  }
}
