.course-table {
  height: calc(100% - 108px);
}

.text-center {
  text-align: center;
}

.in-left {
  margin-left: 22px;
}

.labeld{
  width: 60px;
  height: 38px;
}
.margin-label {
  margin-left: 20px;
  margin-top: 7px;
  margin-right: 5px;
}

.margin-button {
  margin-left: auto;
}

.size-cmb-kc {
  width: 200px;
}
