<div class="px-3 h-100" *ngFor="let item of rows | paginate: {itemsPerPage: 1, currentPage: currentPage}">
  <ag-grid-angular
    class="ag-theme-balham course-table"
    rowSelection="multiple"
    enableCellChangeFlash=true
    [animateRows]="true"
    [accentedSort]="true"
    [rowData]="rows"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [localeText]="localeText"
    [getRowNodeId]="getRowNodeId"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
  <div class="text-center">
    <pagination-controls (pageChange)="getCoursesForAdministrator($event)" previousLabel="Попередня" nextLabel="Наступна"></pagination-controls>
  </div>
  </div>

