<div class="modal fade"
     [config]="{backdrop: 'static'}" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Зарахувати студента</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Зарахувати існуючого" (select)="selectTab(tabs.Existing)">
            <form class="mt-3" [formGroup]="form" novalidate *ngIf="activeTab === tabs.Existing">
              <div formGroupName="student" class="form-group">
                <label for="typeahead" class="required">ПІБ студента</label>
                <app-student-typeahead
                  id="typeahead"
                  formControlName="id"
                  [control]="form.controls.student.controls.id"
                  (onValueChange)="onSelectStudent($event)">
                </app-student-typeahead>
              </div>
              <ng-container *ngTemplateOutlet="commonFields"></ng-container>
            </form>
          </tab>

          <tab heading="Зарахувати нового" (select)="selectTab(tabs.New)">
            <form [formGroup]="form" class="mt-3" novalidate *ngIf="activeTab === tabs.New">
              <div formGroupName="student">
                <div class="form-group">
                  <label for="surname" class="required">Прізвище</label>
                  <input formControlName="surname" class="form-control" id="surname"
                         [appValidation]="form.controls.student.controls.surname">
                  <app-validation-errors [control]="form.controls.student.controls.surname"></app-validation-errors>
                </div>
                <div class="form-group">
                  <label for="name" class="required">Ім'я</label>
                  <input formControlName="name" class="form-control" id="name"
                         [appValidation]="form.controls.student.controls.name">
                  <app-validation-errors [control]="form.controls.student.controls.name"></app-validation-errors>
                </div>
                <div class="form-group">
                  <label for="patronimic" class="required">По-батькові</label>
                  <input formControlName="patronimic" class="form-control" id="patronimic"
                         [appValidation]="form.controls.student.controls.patronimic">
                  <app-validation-errors [control]="form.controls.student.controls.patronimic"></app-validation-errors>
                </div>
              </div>
              <ng-container *ngTemplateOutlet="commonFields"></ng-container>
            </form>
          </tab>
        </tabset>
      </div>
      <div class="modal-footer">
        <button (click)="submit()" class="btn btn-success btn-submit">Зарахувати</button>
        <button (click)="hideModal()" class="btn btn-outline-danger">Скасувати</button>
      </div>
    </div>
  </div>
</div>

<ng-template #commonFields>
  <div [formGroup]="form">
    <div class="row" formGroupName="student">
      <div class="form-group col-6" *ngIf="form.controls.student.controls.sex">
        <label class="required">Стать</label>
        <div class="form-check">
          <input formControlName="sex" [appValidation]="form.controls.student.controls.sex"
                 class="form-check-input" type="radio" value="MALE" id="sex1">
          <label class="form-check-label" for="sex1">Чоловіча</label>
        </div>
        <div class="form-check">
          <input formControlName="sex" [appValidation]="form.controls.student.controls.sex"
                 class="form-check-input" type="radio" value="FEMALE" id="sex2">
          <label class="form-check-label" for="sex2">Жіноча</label>
        </div>
        <app-validation-errors [control]="form.controls.student.controls.sex"></app-validation-errors>
      </div>
      <div class="form-group col-6">
        <label for="birthDate" class="required">Дата народження</label>
        <input type="date" formControlName="birthDate" class="form-control" id="birthDate"
               [appValidation]="form.controls.student.controls.birthDate">
        <app-validation-errors [control]="form.controls.student.controls.birthDate"></app-validation-errors>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label class="required">Форма навчання</label>
        <div class="form-check">
          <input formControlName="payment" [appValidation]="form.controls.payment"
                 class="form-check-input" type="radio" value="BUDGET" id="payment1">
          <label class="form-check-label" for="payment1">Бюджет</label>
        </div>
        <div class="form-check">
          <input formControlName="payment" [appValidation]="form.controls.payment"
                 class="form-check-input" type="radio" value="CONTRACT" id="payment2">
          <label class="form-check-label" for="payment2">Контракт</label>
        </div>
        <app-validation-errors [control]="form.controls.payment"></app-validation-errors>
      </div>
      <div class="form-group col-6">
        <label for="group" class="required">Група</label>
        <select formControlName="studentGroupId" class="form-control" id="group"
                [appValidation]="form.controls.studentGroupId">
          <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
        </select>
        <app-validation-errors [control]="form.controls.studentGroupId"></app-validation-errors>
      </div>
    </div>
  </div>
</ng-template>
