<div class="modal fade"
     *ngIf="isModalShown" [config]="{show: true}" (onHidden)="onHidden()" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Зарахувати студента</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Зарахувати нового" id="tab1">
            <form [formGroup]="form">
              <div formGroupName="student">
                <div class="form-group">
                  <label for="surname">Прізвище</label>
                  <input formControlName="surname" class="form-control" id="surname">
                </div>
                <div class="form-group">
                  <label for="name">Ім'я</label>
                  <input formControlName="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="patronimic">По-батькові</label>
                  <input formControlName="patronimic" class="form-control" id="patronimic">
                </div>
                <div class="form-group">
                  <label for="birthDate">Дата народження</label>
                  <input formControlName="surname" class="form-control" id="birthDate">
                </div>
              </div>
              <label for="group">Група</label>
              <select formControlName="studentGroupId" class="form-control" id="group">
                <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
              </select>
            </form>
          </tab>
          <tab heading="Зарахувати існуючого" id="tab2">
            content 2
          </tab>
        </tabset>
      </div>
      <div class="modal-footer">
        <button (click)="modal.hideModal()" class="btn btn-success btn-submit">Ок</button>
        <button (click)="modal.hideModal()" class="btn btn-outline-danger">Скасувати</button>
      </div>
    </div>
  </div>
</div>
