<form class="row" [formGroup]="filters">
  <div class="form-group col">
    <label for="group">Група</label>
    <select formControlName="group" class="form-control" id="group">
      <option value="" [selected]="!filters.value.group">Всі</option>
      <option *ngFor="let group of groups" [ngValue]="group.name">{{group.name}}</option>
    </select>
  </div>
  <div formArrayName="payment" class="form-group col">
    <label>Форма навчання</label>
    <div class="btn-group">
      <label class="btn btn-outline-info" btnCheckbox>
        Бюджет
      </label>
      <label class="btn btn-outline-info" btnCheckbox>
        Контракт
      </label>
    </div>
  </div>
  <div class="form-group col">
    <label for="birthDate">Дата народження</label>
    <input formControlName="birthDate" type="date" class="form-control" id="birthDate">
  </div>
  <div class="form-group col">
    <label for="birthMonth">Місяць народження</label>
    <select formControlName="birthMonth" class="form-control" id="birthMonth">
      <option value="" [selected]="!filters.value.birthMonth">Всі</option>
      <option *ngFor="let month of months; let i = index" [ngValue]="i">{{month}}</option>
    </select>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-success" (click)="setFilters()">OK</button>
    <button type="submit" class="btn btn-outline-info" (click)="resetFilters()">Reset</button>
  </div>
</form>
