
.statement-wrapper {
  display: flex;
  height: 100%;
}

.students-groups {
  flex-grow: 1;
  padding: 1.5rem 1rem 1rem 1rem;
  max-height: 100%;
  overflow: auto;
}

.table-students {
  margin: 0;
}

.table-students td {
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}

.table-students thead td {
  border-bottom-width: 2px;
}

.table-students .col-number {
  width: 30px;
  text-align: center;
}

.table-students .col-recordBookNumber {
  width: 250px;
}

.form-groups {
  width: 600px;
  padding: 15px 20px;
  background-color: #f8f9fa;
  flex-shrink: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group.checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.form-group.checkboxes input[type="checkbox"] {
  display: inline-block;
  height: 12px;
}
