<div class="statement-wrapper">

  <div class="select-container">
    <div class="select-wraper">
      <div class="form-group">
        <h4>Ступінь</h4>
        <select id="cmbDegree" [(ngModel)]="currentDegree" (change)="onDegreeChange()">
          <option *ngFor="let degree of degrees" [ngValue]="degree">{{degree.name}}</option>
        </select>
      </div>
    </div>

    <div class="select-wraper">
      <h4>Курс</h4>
      <select [(ngModel)]="selectedYear"  (change)="onYearChange()" id="years">
        <option  [ngValue]="i" *ngFor="let i of years">{{i}}</option>
      </select>
    </div>

    <div class="select-wraper">
      <h4>Група</h4>
      <select id="cmbGroup" [(ngModel)]="currentGroup" class="cmbGroup" (change)="onGroupChange()">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
      </select>
    </div>

  <div class="wrapp">
    <button class="btn btn-success w-50 mt-1" (click)="onPersonalFileGradesStatementBuild()">Сформувати виписку в особову справу</button>
    <img class="pt-4" *ngIf="personalFileGradesStatementLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
  </div>

  <div class="wrapp-2">
    <h5>Список студентів</h5>
    <div class="table-wrapper-2">
      <table class="student-table">
        <thead>
        <tr>
          <td>№</td>
          <td>ПІБ</td>
          <td>Заліковка</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let studentDegree of students; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{studentDegree.student | nameWithInitials}}</td>
          <td>{{studentDegree.recordBookNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
