<div class="container-fluid h-100">
  <div class="row h-100 flex-nowrap">
    <div class="col scrollable py-3">
      <button class="btn btn-info mb-3" (click)="columnsModal.showModal()">Вибір колонок</button>

      <app-students-table
        [columns]="columns"
        [rows]="rows">
      </app-students-table>

      <div class="bg-light fixed-bottom p-3">
        Всього: {{rows.length || '0'}}
      </div>
    </div>

    <app-sidebar class="sidebar">
      <b>Фільтри:</b>
      <app-students-filters
        [groups]="groups"
        [students]="students"
        (applyFilters)="applyFilters($event)">
      </app-students-filters>
    </app-sidebar>
  </div>
</div>

<app-students-columns
  #columnsModal
  (setColumns)="setColumns($event)">
</app-students-columns>
