<div class="container-fluid h-100">
  <div class="row">
    <div class="col px-2">
      <div class="my-2 d-flex">
        <app-students-search
          class="mr-auto"
          [rows]="students"
          studentField="student"
          (searchResult)="onSearch($event)"
        ></app-students-search>
        <div class="d-flex">
          <div *ngIf="selected.length === 1" class="d-flex">
            <button
              class="btn btn-info mr-1"
              (click)="personalInfoModal.openModal(selected[0]?.student?.id)"
            >
              <svg class="mr-1 svg-icon" viewBox="0 0 640 512">
                <use xlink:href="assets/img/icons-sprite.svg#user-edit"></use>
              </svg>
              Особиста інформація
            </button>
            <button
              class="btn btn-info mr-1"
              (click)="degreeInfoModal.openModal(selected[0]?.student?.id)"
            >
              <svg class="mr-1 svg-icon" viewBox="0 0 170 137.28">
                <use xlink:href="assets/img/icons-sprite.svg#user-graduate-edit"></use>
              </svg>
              Навчальна інформація
            </button>
            <button
              class="btn btn-info mr-1"
              (click)="academicVacationModal.openModal(selected[0]?.id)"
            >
              Направити в академ. відпустку
            </button>
          </div>
          <button
            *ngIf="selected.length"
            class="btn btn-danger mr-1"
            (click)="studentExpelModal.openModal(selected)"
          >
            Відрахувати студентів
          </button>
          <button
            *ngIf="selected.length > 1"
            class="btn btn-success mr-1"
            (click)="assignStudentsToGroup.openModal(selected)">
            Призначити групу
          </button>
          <button
            *ngIf="selected.length > 1"
            class="btn btn-success mr-1"
            (click)="assignRecordBookNumberToStudents.openModal(selected)">
            Призначити номер заліковки
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-9 h-100 pl-2 pr-0">
      <ag-grid-angular
        class="ag-theme-balham students-table"
        rowSelection="multiple"
        enableCellChangeFlash=true
        [animateRows]="true"
        [rowData]="students"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [accentedSort]="true"
        [localeText]="localeText"
        [getRowNodeId]="getRowNodeId"
        [frameworkComponents]="frameworkComponents"
        [modules]="agGridModules"
        (selectionChanged)="onSelectionChanged($event)"
        (modelUpdated)="onModelUpdated($event)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="col-3">
      <button
        class="btn btn-info w-100"
        (click)="StudentSpecializationTransferModal.openModal(selected[0])"
        *ngIf="selected.length === 1"
      >
        <svg class="mr-1" style="height: 1.5em" viewBox="0 0 477.86 477.86">
          <use xlink:href="assets/img/icons-sprite.svg#transfer"></use>
        </svg>
        На іншу спеціальність
      </button>
      <button class="btn btn-secondary w-100 mt-3"
              (click)="studentThesisTheme.onShow()">
        Теми дипломів
      </button>
      <button class="btn btn-primary w-100 mt-3"
              (click)="edeboDiplomaNumber.onShow()">
        Номери дипломів з ЄДЕБО
      </button>
      <button class="btn btn-warning w-100 mt-3 btn-warning"
              (click)="synchronizeWithEdeboModal.onShow()">
        <svg class="mr-1 svg-icon" viewBox="0 0 512 512">
          <use xlink:href="assets/img/icons-sprite.svg#sync"></use>
        </svg>
        Синхронізувати з ЄДЕБО
      </button>
      <button class="btn btn-info w-100 mt-3"
              (click)="columnsModal()">
        Вибір колонок
      </button>
      <button class="btn btn-success w-100 mt-3"
              (click)="addStudentModal.modal.show()">
        Зарахувати
      </button>
      <button class="btn btn-dark w-100 mt-3"
              (click)="onAbstractOfScholasticRecords(selected[0]?.id)"
              *ngIf="selected.length === 1">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="abstractOfScholasticRecordsLoading">
        </span>
        Сформувати виписку з залікової книжки
      </button>
    </div>
  </div>
  <div class="bg-light fixed-bottom p-1">
    Всього: {{count || '0'}}
  </div>
</div>

<student-thesis-theme-input #studentThesisTheme></student-thesis-theme-input>
<synchronize-with-edebo #synchronizeWithEdeboModal></synchronize-with-edebo>
<edebo-diploma-number #edeboDiplomaNumber></edebo-diploma-number>
<app-add-student
  #addStudentModal
  [groups]="groups"
  (onSubmit)="prependStudent($event)"
></app-add-student>

<app-student-expel
  (onSubmit)="onRemove($event)"
  #studentExpelModal
></app-student-expel>

<assign-record-book-number-to-students
  (onSubmit)="updateRecordBookNumber($event)"
  #assignRecordBookNumberToStudents
></assign-record-book-number-to-students>

<assign-students-to-group
  [groups]="groups"
  (onSubmit)="updateStudentsGroup($event)"
  #assignStudentsToGroup
></assign-students-to-group>

<student-personal-info-modal
  (onSubmit)="updateStudentPersonalInfo($event)"
  #personalInfoModal
></student-personal-info-modal>

<student-degree-info-modal
  [groups]="groups"
  (onSubmit)="updateStudentDegreeInfo($event)"
  #degreeInfoModal
></student-degree-info-modal>

<app-student-academic-vacation
  #academicVacationModal
  (onSubmit)="onRemove($event)"
></app-student-academic-vacation>

<student-specialization-transfer
  #StudentSpecializationTransferModal
  (onSubmit)="onTransfer($event)"
></student-specialization-transfer>
