<div class="modal"
     bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog {{modalSize}}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modalName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <tabset #tabset *ngIf="tableView">
          <tab class="tab-body" heading="Коректні дані">
            <table *ngFor="let group of listThesisDataForGroup; let i = index"
                   class="table table-sm table-striped table-bordered mt-4">
              <caption class="group-caption"> {{group?.groupName}}</caption>
              <thead>
              <td>№</td>
              <td>
                <input type="checkbox" (click)="onAllThesisThemeSelected($event.target.checked,i)">
              </td>
              <td>Повне ім'я</td>
              <td>Назва дипломної роботи</td>
              <td>Назва дипломної роботи англійською</td>
              <td>Стара назва дипломної роботи</td>
              <td>Куратор дипломної роботи</td>
              </thead>
              <tr *ngFor="let student of group.thesisDataBeans let i = index">
                <td>{{ i+1 }}</td>
                <td><input  name="checkbox"  type="checkbox" [(ngModel)]="student.selected" (change)="onStudentSelectCheckboxClick()"></td>
                <td>{{ student?.fullName }}</td>
                <td>{{ student?.thesisName }}</td>
                <td>{{ student?.thesisNameEng }}</td>
                <td>{{ student?.oldThesisName}}</td>
                <td>{{ student?.fullSupervisorName }}</td>
              </tr>
            </table>
          </tab>
          <tab class="tab-body" heading="Некоректні дані">
            <table class="table table-sm table-striped table-bordered mt-4">
              <thead>
              <td>№</td>
              <td>Повне ім'я</td>
              <td>Назва дипломної роботи</td>
              <td>Назва дипломної роботи англыйською</td>
              <td>Стара назва дипломної роботи</td>
              <td>Куратор дипломної роботи</td>
              <td>Повідомлення</td>
              </thead>
              <tr *ngFor="let student of missingThesisDataRed; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ student?.thesisPrimaryData?.fullName }}</td>
                <td>{{ student?.thesisPrimaryData?.thesisName }}</td>
                <td>{{ student?.thesisPrimaryData?.thesisNameEng }}</td>
                <td>{{ student?.thesisPrimaryData?.oldThesisName}}</td>
                <td>{{ student?.thesisPrimaryData?.fullSupervisorName}}</td>
                <td>{{ student?.message}}</td>
              </tr>
            </table>
          </tab>
        </tabset>
        <div class="input-group import" *ngIf="fileField">
          <input type="file" class="custom-file-input" id="importFile" accept=".doc, .docx"
                 (change)="onFileSelected($event)">
          <label class="custom-file-label" for="importFile">{{fileName}}</label>
        </div>
        <p class="alert alert-danger mt-1" *ngIf="wrongExtension">
          Некоректне розширення файлу
        </p>

        <div class="loader" *ngIf="uploadInProgress"></div>

        <div *ngIf="resultView" class="m-2">
          <p> Додано тем для студентів: {{updatedStudentDegrees}}</p>
          <table class="table table-sm table-striped table-bordered mt-4 result-table"
                 *ngIf="isNotUpdatedThesisTheme()">
            <caption>Не додані студенти:</caption>
            <tr *ngFor="let student of notUpdatedStudentDegrees">
              <td>{{ student }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" *ngIf="downloadButton" type="button"
                (click)="onFileUpload()" [disabled]="uploadInProgress || wrongExtension">
          Завантажити
        </button>
        <button class="btn btn-success" *ngIf="tableView" type="button" [disabled]="!isSaveButtonEnabled" (click)="saveChanges()">
          Зберегти
        </button>
        <button class="btn btn-primary" *ngIf="tableView" type="button" (click)="hideModal()">Скасувати</button>
        <button class="btn btn-primary" *ngIf="resultView" type="button" (click)="hideModal()">Закрити</button>
      </div>
    </div>
  </div>
</div>
