<div class="modal"
     bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog {{modalSize}}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Тема до диплому</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <tabset #tabset *ngIf="tableView">
          <tab>
             <table class="table table-sm table-striped table-bordered mt-4">
              <thead>
              <td>№</td>
              <td>
                <input type="checkbox" (click)="onAllThesisThemeSelected($event.target.checked)">
              </td>
              <td>Повне ім'я</td>
              <td>Назва дипломної роботи</td>
              <td>Назва дипломної роботи англыйською</td>
              <td>Стара назва дипломної роботи</td>
              </thead>
              <tr *ngFor="let student of allThesisThemes.importedThesisDataDTOs, let i = index">
                <td>{{ i+1 }}</td>
                <td><input type="checkbox" [(ngModel)]="student.selected"></td>
                <td>{{ student.fullName }}</td>
                <td>{{ student.thesisName }}</td>
                <td>{{ student.thesisNameEng }}</td>
                <td>{{ student.oldThesisName}}</td>
              </tr>
            </table>
          </tab>
          <tab>
            <table class="table table-sm table-striped table-bordered mt-4">
              <thead>
              <td>№</td>
              <td>Повне ім'я</td>
              <td>Назва дипломної роботи</td>
              <td>Назва дипломної роботи англыйською</td>
              <td>Стара назва дипломної роботи</td>
              <td>Повідомлення</td>
              </thead>
              <tr *ngFor="let student of allThesisThemes.missingThesisDataRedDTOs; let i = index" >
                <td>{{ i+1 }}</td>
                <td><input type="checkbox" [(ngModel)]="student.selected"></td>
                <td>{{ student.importedThesisDataDTOs.fullName }}</td>
                <td>{{ student.importedThesisDataDTOs.thesisName }}</td>
                <td>{{ student.importedThesisDataDTOs.thesisNameEng }}</td>
                <td>{{ student.importedThesisDataDTOs.oldThesisName}}</td>
                <td>{{ student.message}}</td>
              </tr>
            </table>
          </tab>
        </tabset>
        <div class="input-group mt-2 mb-2" *ngIf="fileField">
          <input type="file" class="custom-file-input" id="importFile" accept=".doc, .docx"
                 (change)="onFileSelected($event)">
          <label class="custom-file-label" for="importFile">{{fileName}}</label>
        </div>
        <p class="alert alert-danger mt-1" *ngIf="wrongExtension">
          Некоректне розширення файлу
        </p>

        <div class="loader" *ngIf="uploadInProgress"></div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" *ngIf="downloadButton" type="button"
                (click)="onFileUpload()" [disabled]="uploadInProgress || wrongExtension">
          Завантажити
        </button>
        <button class="btn btn-success" *ngIf="tableView" type="button" (click)="saveChanges()" [disabled]="saveButton">Зберегти</button>
        <button class="btn btn-primary" *ngIf="tableView" type="button" (click)="hideModal()">Відмінити</button>
      </div>
    </div>
  </div>
</div>
