<div class="m-3">
  <table class="table table-striped table-sm fs-1">
    <thead>
    <tr>
      <th>Операція</th>
      <th>Дата заяви</th>
      <th>Дата відр./пон.</th>
      <th>Дата наказу</th>
      <th>Номер наказу</th>
      <th>Форма навчання</th>
      <th>Рік навчання</th>
      <th>Причина</th>
    <tr>
    </thead>
    <tr *ngFor="let history of studentDegreeHistory | async">
      <td>{{ history.operation }}</td>
      <td>{{ history.expelOrRenewApplicationDate }}</td>
      <td>{{ history.expelOrRenewDate}}</td>
      <td>{{ history.expelOrRenewOrderDate }}</td>
      <td>{{ history.expelOrRenewOrderNumber }}</td>
      <td>{{ payment[history.expelOrRenewPayment] }}</td>
      <td>{{ history.expelOrRenewStudyYear }}</td>
      <ng-container *ngIf="history.orderReason">
        <td>{{ history.orderReason.name }}</td>
      </ng-container>
    </tr>
  </table>
</div>
