<div class="mb-4 mt-3 d-flex">
  <button class="btn btn-info" (click)="actual()">{{ buttonText }}</button>
</div>
<div>
  <ngx-datatable
          #table_speciality
          class="material"
          [rows]="rows"
          [sortType]="'multi'"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="40"
          [footerHeight]="40"
          [limit]="10"
          [selected]="selected"
          [selectionType]="'multi'"
          [messages]="{ emptyMessage: 'Дані відсутні.' }"
          (select)='onSelect($event)'>
  </ngx-datatable>
</div>
