.debtor {
  color: red;
}

table, th, td {
  border: 1px solid black;
  padding: 4px;
}

.group-header {
  font-weight: bold;
}

.main-table td:first-child {
  width: 25px;
}
.main-table td:nth-child(2) {
  width: 340px;
}
.main-table td:nth-child(3) {
  width: 100px;
}
.main-table td:nth-child(4) {
  width: 70px;
}
.main-table td:nth-child(5) {
  width: 70px;
}
.main-table td:nth-child(6) {
  width: 110px;
}
.main-table td:nth-child(7) {
  width: 50px;
}
.main-table td:nth-child(8) {
  width: 100px;
}
.main-table td:nth-child(9) {
  width: 100px;
}
