<div class="wrap">
  <button class="btn btn-success align-middle mt-1 ml-1" (click)="onMakeDocument()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          *ngIf="studentRatingLoading">
        </span>
    Завантажити рейтинг студентів</button>
  <h5>Студенти</h5>
  <div class="table-wrapper">
    <table class="main-table">
      <thead>
      <tr>
        <td>№</td>
        <td>ПІБ</td>
        <td>Група</td>
        <td>Ступінь</td>
        <td>Форма</td>
        <td>Спеціальність</td>
        <td>Курс</td>
        <td>Середній бал</td>
        <td>Середній бал * 0,9</td>
        <td>Додаткові бали</td>
        <td>Загальний результат</td>
        <!--<td>Заборгованості</td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ssi of studentStipendInfo">
        <td colspan=11>
        <table class="main-table">
          <tr class="group-header">
            <td colspan = 11>
              <div class="group-header-line">
                <div>{{ssi.specialityCode}} {{ssi.specialityName}}</div>
                <div>{{ssi.degreeName}} {{ssi.groupsName}}</div>
                <div>
                  <button class="btn btn-warning align-middle" [disabled]="selectedStudentSpeciality != ''"
                          (click)="openInput = ssi.specialityCode">Редагувати</button>
                  <button class="btn btn-success align-middle" [disabled]="ssi !== selectedStudentSpeciality"
                          (click)="saveExtraPoints(ssi)">Зберегти</button>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let oneStudentInfo of ssi.studentsInfoForStipend; let i = index" [ngClass]="isDebtor(oneStudentInfo)">
            <td>{{i+1}}</td>
            <td>{{oneStudentInfo.surname}} {{oneStudentInfo.name}} {{oneStudentInfo.patronimic}}</td>
            <td>{{oneStudentInfo.groupName}}</td>
            <td>{{ssi.degreeName.substring(0,3)}}</td>
            <td>{{getTuitionTermUkr(ssi.tuitionTerm)}}</td>
            <td>{{ssi.specialityCode}}</td>
            <td>{{oneStudentInfo.year}}</td>
            <td><div *ngIf="oneStudentInfo.averageGrade > 59.99">{{oneStudentInfo.averageGrade | number:'2.2-2'}}</div></td>
            <td><div *ngIf="oneStudentInfo.averageGrade > 59.99">{{oneStudentInfo.averageGrade*0.9 | number:'2.2-2'}}</div></td>
            <td><input type="text" style="width: 100px " #extraPoint [value]="showValueInput(oneStudentInfo.oldExtraPoints)"
                       *ngIf="isDebtor(oneStudentInfo)==''" [disabled]="openInput !== oneStudentInfo.groupName" [maxLength]="2"
                       (keyup)="numbers.indexOf( extraPoint.value) == - 1 ? extraPoint.value = '' : extraPoint.value;
                        oneStudentInfo.extraPoints = toNumber(extraPoint.value);
                        oneStudentInfo.finalPoints = makeFinalPoint(oneStudentInfo.extraPoints, oneStudentInfo.averageGrade)"
                        (focusin)="selectedStudentSpeciality = oneStudentInfo.groupName"></td>
            <td><div *ngIf="isDebtor(oneStudentInfo)==''">{{oneStudentInfo.finalPoints | number:'2.2-2'}}</div></td>
            <!--<td>-->
              <!--<p *ngFor="let course of ssi.debtCourses">-->
                <!--{{course.courseName}} {{course.semester}} {{course.knowledgeControlName}}-->
              <!--</p>-->
            <!--</td>-->
          </tr>
        </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
