<div class="wrap">
  <h5>Студенти</h5>
  <div class="table-wrapper">
    <table class="main-table">
      <thead>
      <tr>
        <td>№</td>
        <td>ПІБ</td>
        <td>Група</td>
        <td>Ступінь</td>
        <td>Форма</td>
        <td>Спеціальність</td>
        <td>Курс</td>
        <td>Середній бал</td>
        <td>Середній бал * 0,9</td>
        <td>Додаткові бали</td>
        <td>Загальний результат</td>
        <!--<td>Заборгованості</td>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let group of getStudentStipendGroups()">
        <td colspan=11>
        <table class="main-table">
          <tr class="group-header">
            <td colspan = 11>
              <div class="group-header-line">
                <div>{{group}}</div>
                <div>
                  <button class="btn btn-warning align-middle" [disabled]="selectedStudentGroupName != ''"
                          (click)="openInput = group">Редагувати</button>
                  <button class="btn btn-success align-middle" [disabled]="group !== selectedStudentGroupName"
                          (click)="openInput = ''; selectedStudentGroupName = ''; saveExtraPoints(group)">Зберегти</button>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let ssi of studentStipendInfo[group]; let i = index" [ngClass]="isDebtor(ssi)">
            <td>{{i+1}}</td>
            <td>{{ssi.surname}} {{ssi.name}} {{ssi.patronimic}}</td>
            <td>{{ssi.groupName}}</td>
            <td>{{ssi.degreeName.substring(0,3)}}</td>
            <td>{{getTuitionTermUkr(ssi.tuitionTerm)}}</td>
            <td>{{ssi.specialityCode}}</td>
            <td>{{ssi.year}}</td>
            <td><div *ngIf="ssi.averageGrade > 59.99">{{ssi.averageGrade | number:'2.2-2'}}</div></td>
            <td><div *ngIf="ssi.averageGrade > 59.99">{{ssi.averageGrade*0.9 | number:'2.2-2'}}</div></td>
            <td><input type="text" style="width: 100px " #extraPoint [value]="showValueInput(ssi.oldExtraPoints)"
                       *ngIf="isDebtor(ssi)==''" [disabled]="openInput !== ssi.groupName" [maxLength]="2"
                       (keyup)="numbers.indexOf( extraPoint.value) == - 1 ? extraPoint.value = '' : extraPoint.value;
                        ssi.extraPoints = toNumber(extraPoint.value);
                        ssi.finalPoints = makeFinalPoint(ssi.extraPoints,ssi.averageGrade)"
                        (focusin)="selectedStudentGroupName = ssi.groupName"></td>
            <td><div *ngIf="isDebtor(ssi)==''">{{ssi.finalPoints}}</div></td>
            <!--<td>-->
              <!--<p *ngFor="let course of ssi.debtCourses">-->
                <!--{{course.courseName}} {{course.semester}} {{course.knowledgeControlName}}-->
              <!--</p>-->
            <!--</td>-->
          </tr>
        </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
