<div class="table-wrapper">
  <loading *ngIf="loading"></loading>
    <table *ngIf="!loading">
      <thead>
        <tr>
          <th class="checkbox"></th>
          <th class="name">Назва</th>
          <th class="specialization">Спеціалізація</th>
          <th class="speciality">Спеціальність</th>
          <th class="degree">Ступінь</th>
          <th class="tuitionForm">Форма</th>
          <th class="tuitionTerm">Термін</th>
          <th class="creationYear">Створено</th>
          <th class="beginYears">Курс початку</th>
          <th class="studyYears">Років начання</th>
          <th class="studySemesters">Семестрів</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td class="checkbox"><input type="checkbox"></td>
          <td class="name">{{row.name}}</td>
          <td class="specialization">{{row.specialization.name}}</td>
          <td class="speciality">{{row.specialization.speciality.code}} {{row.specialization.speciality.name}}</td>
          <td class="degree">{{row.specialization.degree.name}}</td>
          <td class="tuitionForm">{{row.tuitionForm}}</td>
          <td class="tuitionTerm">{{row.tuitionTerm}}</td>
          <td class="creationYear">{{row.creationYear}}</td>
          <td class="beginYears">{{row.beginYears}}</td>
          <td class="studyYears">{{row.studyYears}}</td>
          <td class="studySemesters">{{row.studySemesters}}</td>
        </tr>
      </tbody>
    </table>
</div>
