<ngx-datatable
  #table
  class="material"
  [columns]="getColumns()"
  [rows]="rows"
  [rowIdentity]="getRowIdentity"
  [messages]="{ emptyMessage: 'Дані відсутні.' }"
  [sortType]="'multi'"
  [trackByProp]="'id'"
  [columnMode]="'force'"
  [rowHeight]="'auto'"
  [headerHeight]="33"
  [selectionType]="'checkbox'"
  [selectAllRowsOnPage]="false"
></ngx-datatable>

<ng-template #tuitionFormTemplate let-value="value">
  {{value === 'FULL_TIME' ? 'Денна' : ''}}
  {{value === 'EXTRAMURAL' ? 'Заочна' : ''}}
</ng-template>

<ng-template #tuitionTermTemplate let-value="value">
  {{value === 'REGULAR' ? 'Повний' : ''}}
  {{value === 'SHORTENED' ? 'Скорочений' : ''}}
</ng-template>
