.consolidated-document-wrapper {
  padding: 8px;
}

.top-select-container {
  display: flex;
  border-bottom: 1px solid #EEEEEE;
}

.select-wrapper {
  flex-basis: 150px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

thead tr td {
  font-weight: bold;
}

.clickable tbody tr {
  cursor: pointer;
}

.consolidated-main-container {
  margin-top: 16px;
}

.selected-row {
  color: #076185;

  &:hover {
    color: #076185;
  }
}
