.card-header{
  color: #AF9512;
  background-color: #FCF8E3;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.creation-form{
  padding: 1.3rem 2rem;
}

.btn{
  width: 100%;
  height: 2rem;
  padding: 0.2rem 0.75rem;
}

.col-2,.col-3,.col-4,.col,.col-8{
  padding-right: 3px;
  padding-left: 3px;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.ng-invalid:focus.ng-touched {
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
