<div class="grade-runner">
  <button
    *ngIf="activeGradeRunner !== null"
    class="btn btn-success grade-runner__add"
    (click)="addToGradeRunners()"
  >
    Додати до бігунка
  </button>

  <span class="grade-runner__cart-btn" (click)="toggleCart()">
    <span class="grade-runner__cart-counter" *ngIf="gradeRunners.length > 0">
      {{ gradeRunners.length }}
    </span>
  </span>

  <div class="grade-runner__cart" [ngClass]="{'grade-runner__cart-open' : isShowCart}">

    <div class="grade-runner__students">
      <div class="grade-runner__student" *ngFor="let gradeRunner of gradeRunners">
        <div class="grade-runner__student-name">
          {{ gradeRunner.student | nameWithInitials }}
        </div>
        <ul class="grade-runner__subjects">
          <li class="grade-runner__subject" *ngFor="let course of gradeRunner.courses">
            <span class="grade-runner__subject-name">
              {{ course.name }}
            </span>
            <img
              class="grade-runner__subject-delete"
              src="assets/img/delete.svg"
              alt="Видалити предмет"
              (click)="removeCourse(gradeRunner.student, course)"
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="grade-runner__generate-nav">
      <button
        class="btn btn-sm btn-success"
        [disabled]="gradeRunners.length === 0"
        (click)="generate()"
      >
        Сформувати бігунок
      </button>
      <button
        class="btn btn-sm btn-danger"
        (click)="toggleCart()"
      >
        Закрити
      </button>
    </div>
  </div>
</div>
