<div class="modal"
     bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog {{modalSize}}" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{modalName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <tabset #tabset *ngIf="!(importView)">
        <tab heading="Повне співпадіння" class="tab-body">
          <table class="table table-sm table-striped table-bordered mt-4">
            <thead>
            <td>№</td>
            <td>Прізвище</td>
            <td>Ім'я</td>
            <td>По-батькові</td>
            <td>Дата народження</td>
            <td>Ступінь</td>
            <td>Спеціальність</td>
            <td>Освітня програма</td>
            </thead>
            <tr *ngFor="let student of synchronizedStudentDegreesGreen; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ student.student?.surname}}</td>
              <td>{{ student.student?.name }}</td>
              <td>{{ student.student?.patronimic }}</td>
              <td>{{ convertDate(student.student?.birthDate) }}</td>
              <td>{{ student.specialization?.degree?.name }}</td>
              <td>{{ student.specialization?.speciality?.name }}</td>
              <td>{{ student.specialization?.name }}</td>
            </tr>
          </table>
        </tab>
        <tab heading="Часткове співпадінння" class="tab-body"></tab>
        <tab heading="Немає в базі" class="tab-body">
          <table class="table table-sm table-striped table-bordered mt-4">
            <thead>
            <td>№</td>
            <td><input type="checkbox" [(ngModel)]="studentsSelected" (click)="onSelectAllStudents($event.target.checked)"></td>
            <td>Прізвище</td>
            <td>Ім'я</td>
            <td>По-батькові</td>
            <td>Дата народження</td>
            <td>Ступінь</td>
            <td>Спеціальність</td>
            <td>Освітня програма</td>
            </thead>
            <tr *ngFor="let student of noSuchStudentOrSuchStudentDegreeInDbOrange; let i = index">
              <td>{{ i+1 }}</td>
              <td><input type="checkbox" [(ngModel)]="student.selected"></td>
              <td>{{ student.student?.surname }}</td>
              <td>{{ student.student?.name  }}</td>
              <td>{{ student.student?.patronimic }}</td>
              <td>{{ convertDate(student.student?.birthDate) }}</td>
              <td>{{ student.specialization?.degree?.name }}</td>
              <td>{{ student.specialization?.speciality?.code + " " + student.specialization?.speciality?.name }}</td>
              <td>{{ student.specialization?.name }}</td>
            </tr>
          </table>
        </tab>
        <tab heading="Некоректна інформація" class="tab-body">
          <table class="table table-sm table-striped table-bordered mt-4">
            <thead>
            <td>№</td>
            <td>Прізвище</td>
            <td>Ім'я</td>
            <td>По-батькові</td>
            <td>Дата народження</td>
            <td>Ступінь</td>
            <td>Спеціальність</td>
            <td>Освітня програма</td>
            <td>Повідомлення</td>
            </thead>
            <tr *ngFor="let student of missingPrimaryDataRed; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{  student.studentDegreePrimaryData?.lastName }}</td>
              <td>{{ student.studentDegreePrimaryData?.firstName}}</td>
              <td>{{ student.studentDegreePrimaryData?.middleName }}</td>
              <td>{{ convertDate(student.studentDegreePrimaryData?.birthday) }}</td>
              <td>{{ student.studentDegreePrimaryData?.degreeName }}</td>
              <td>{{ student.studentDegreePrimaryData?.fullSpecialityName }}</td>
              <td>{{ student.studentDegreePrimaryData?.fullSpecializationName }}</td>
              <td>{{ student?.message }}</td>
            </tr>
          </table>
        </tab>
        <tab heading="Немає в ЄДЕБО" class="tab-body"></tab>
      </tabset>
      <div class="loader" *ngIf="uploadInProgress"></div>
      <div class="input-group import" *ngIf="fileField">
        <div class="custom-file">
          <input type="file" class="custom-file" id="importFile" (change)="onFileSelected($event)">
          <label class="custom-file-label" for="importFile">{{fileName}}</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span class="number-of-students" *ngIf="!(importView)"> Всього: {{'0'}} </span>
      <button class="btn btn-success" *ngIf="importView" type="button" (click)="onFileUpload()" [disabled]="uploadInProgress" >Завантажити</button>
      <button class="btn btn-success" *ngIf="!(importView)" type="button" (click)="saveChanges()">Зберегти</button>
      <button class="btn btn-primary" *ngIf="!(importView)" type="button" (click)="modal.hide()">Відмінити</button>
    </div>
  </div>
</div>
</div>
