:host {
  display: block;
}

.modal-dialog {
  margin: 0;
  min-width: calc(100% - 10px);
  height: calc(100% - 10px);
  max-width: unset;
}

.modal-body {
  padding: 0;

  .actions-container,.preview-container {
    flex-basis: 50%;
  }

  .actions-container {
    overflow-y: auto;

    .student-order-template {
      margin: 15px 15px 0 15px;
    }

    .add-student-btn__container {
      margin: 15px 15px 0 0;
    }
  }
}


