<div class="grade-container">
    <mat-sidenav-container>
        <mat-sidenav #snav mode="side" opened="true">
            <mat-nav-list>
                <app-grades-panel [groups]="groups"
                                  (changeGroup)="setStudentGroup($event)"
                                  (changeSemester)="setSemester($event)"
                                  (sendRequestGetGrades)="getGrades()"
                                  (reloadGroupList)="getGroups()">
                </app-grades-panel>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="group-buttons">
                <button class="btn btn-primary" (click)="snav.toggle()">Групи і семестри</button>
                <button class="btn btn-success"
                        [disabled]="!emptyGradesList.length"
                        [ngClass]="{'btn-outline-secondary': !emptyGradesList.length}"
                        (click)="fillInWithZerosGrades()">Заповнити нулями
                </button>
                <button class="btn btn-success"
                        [disabled]="!gradesUpdate.length"
                        [ngClass]="{'btn-outline-secondary': !gradesUpdate.length}"
                        (click)="updateGradesForGroup()">Зберегти зміни
                </button>
            </div>
            <ng-container *ngIf="errorsMessage.length && loading">
                <div *ngFor="let error of errorsMessage" class="alert-danger">
                    {{ error }}
                </div>
            </ng-container>
            <div class="alert-primary" *ngIf="!loading && !selectGroup">
                Оберiть группу
            </div>
            <app-grades-table [studentsDegree]="studentsDegree"
                              [courses]="courses"
                              [loadingGrades]="loading"
                              (gradesUpdate)="addGradesForUpdate($event)"
                              (errors)="setErrorsFromTable($event)"
                              [selectGroup]="selectGroup"
                              (sendUpdateGrades)="updateGradesForGroup()"
                              [selectSemester]="selectSemester" #gradeTable>
            </app-grades-table>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>