@import "../../../styles";

.grade-container {
  @extend .container-fluid;
  display: flex;
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
}

.btn {
  cursor: pointer;
}

.mat-drawer-container, .mat-drawer-content {
  z-index: auto;
}

mat-sidenav {
  z-index: auto;
  padding-right: 10px;
}

mat-nav-list {
  width: 200px;
}

.alert-primary {
  @extend .alert;
  @extend .alert-primary;
}

.alert-danger {
  @extend .alert;
  @extend .alert-danger;
}

.group-buttons {
  @extend .btn-group;
  @extend .btn-group-sm;
  padding: 5px 0;
}

.grades__academic_difference {
  margin-left: 5px;
}
