<div class="modal-header">
  <h4 class="modal-title">Оберіть які дисципліни будуть дизкваліфіковані</h4>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="creation-form">
    <div>
      <disqualifiable-courses-table [selectiveCourses]="selectiveCourses"
                                    (onSelectedSelectiveCoursesChange)="changeSelectedSelectiveCourses($event)">

      </disqualifiable-courses-table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="bsModalRef.hide()">Зберегти</button>
      <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Скасувати</button>
    </div>
  </div>
</div>
