<div class="modal fade"
     bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{courses[selectedCourseId]?.course.courseName.name || 'Не було обрано предмет!'}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="error.length" class="alert alert-danger">
                {{ error }}
            </div>
            <div class="modal-body">
                <div>
                    <h5 class="card-title">Вiдомiсть</h5>
                    <app-grade-statement-table [studentsDegree]="studentsDegree"
                                               [courseId]="selectedCourseId"
                                               [onTime]="true"
                                               (setGrade)="setUpdateGrade($event);"
                                               (error)="setError($event)">
                    </app-grade-statement-table>
                </div>
                <div>
                    <h5 class="card-title">Зведена вiдомiсть</h5>
                    <app-grade-statement-table [studentsDegree]="studentsDegree"
                                               [courseId]="selectedCourseId"
                                               [onTime]="false"
                                               (setGrade)="setUpdateGrade($event);"
                                               (error)="setError($event)">
                    </app-grade-statement-table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger float-left" (click)="closeModal()">Закрити</button>
                <button class="btn btn-success float-right"
                        [disabled]="!updateGrades.length"
                        [ngClass]="{'btn-outline-secondary': !updateGrades.length}"
                        (click)="sendUpdateGrades()">Зберегти зміни
                </button>
            </div>
        </div>
    </div>
</div>