<div class="container-fluid h-100">
  <div class="row h-100 flex-nowrap">
    <div class="col content py-3">
      <div class="mb-3 d-flex justify-content-between">
        <div>
          <div class="d-inline-block align-middle" style="width: 161px">
            <input type="search" name="search" class="form-control" placeholder="Пошук за назвою"
                   [(ngModel)]="searchField">
          </div>

          <div class="d-inline-block align-middle">
            <label for="active" class="ml-1 m-0">
              <input type="checkbox" id="active" #active (change)="getSpecializations(active.checked)" checked>
              Актуальні спеціалізації
            </label>
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-danger align-middle"
                  (click)="deleteSpecialization.openModal(selectedSpecialization)" [disabled]="buttonIsDisabled()">
            Видалити
          </button>

          <button type="button" class="btn btn-warning align-middle" [disabled]="buttonIsDisabled()"
                  (click)="updateSpecialization.openModal(selectedSpecialization.id)">
            Редагувати
          </button>

          <button type="button" class="btn btn-success align-middle mr-1" (click)="addSpecialization.openModal()">
            Нова спеціалізація
          </button>
        </div>
      </div>

      <div class="specializations-table">
        <app-specializations-table
          [rows]="specializations | searchSpecializations: searchField"
          [loading]="loading"
          (onSelect)="selectSpecializations($event)"
        ></app-specializations-table>
      </div>

      <div class="bg-light fixed-bottom p-3">
        Всього: {{(specializations | searchSpecializations: searchField).length || '0'}}
      </div>
    </div>
  </div>
</div>

<add-specialization #addSpecialization (onSubmit)="updateDatatable()"></add-specialization>

<delete-specialization #deleteSpecialization (onSubmit)="updateDatatable()"></delete-specialization>

<update-specialization #updateSpecialization (onSubmit)="updateDatatable()"></update-specialization>
