<div class="container-fluid h-100">
  <div class="row h-100 flex-column">
    <div class="col content d-flex flex-column overflow-auto">
      <div class="py-2 d-flex align-items-center">
        <div class="mr-auto">
          <label class="ml-1 m-0">
            <mat-slide-toggle
              class="ml-1"
              [checked]="active"
              [(ngModel)]="active"
              (change)="getSpecializations($event.checked)">
              {{active ? 'Активні': 'Неактивні'}} спеціалізіції
            </mat-slide-toggle>
          </label>
        </div>
        <div *ngIf="active === true">
          <button type="button" class="btn btn-danger"
                  (click)="deleteSpecializationModal.openModal(selectedSpecialization[0])"
                  [disabled]="buttonIsDisabled()">
            Видалити
          </button>

          <button type="button" class="btn btn-warning"
                  [disabled]="buttonIsDisabled()"
                  (click)="updateSpecializationModal.openModal(selectedSpecialization[0].id)">
            Редагувати
          </button>

          <button type="button" class="btn btn-success mr-1"
                  (click)="addSpecializationModal.openModal()">
            Нова спеціалізація
          </button>
        </div>
        <div *ngIf="active === false">
          <button type="button" class="btn btn-success mr-1"
                  (click)="recoverySpecializationModal.openModal(selectedSpecialization[0])"
                  [disabled]="buttonIsDisabled()">
            Відновити
          </button>
        </div>
      </div>

      <ag-grid-angular
        class="ag-theme-balham overflow-auto h-100"
        rowHeight="50"
        rowSelection="single"
        enableCellChangeFlash=true
        [animateRows]="true"
        [accentedSort]="true"
        [rowData]="specializations"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [localeText]="localeText"
        [getRowNodeId]="getRowNodeId"
        [modules]="agGridModules"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)"
        (modelUpdated)="onModelUpdated($event)"
      >
      </ag-grid-angular>
    </div>
    <footer class="bg-light px-3 py-2">
      Всього: {{count || '0'}}
    </footer>
  </div>
</div>

<add-specialization #addSpecializationModal
                    (addSpecialization)="onAddSpecialization($event)">
</add-specialization>

<delete-specialization #deleteSpecializationModal
                       (deleteSpecialization)="onDeleteSpecialization()">
</delete-specialization>

<update-specialization #updateSpecializationModal
                       (updateSpecialization)="onUpdateSpecialization($event)">
</update-specialization>

<recovery-specialization #recoverySpecializationModal
                         (recoverySpecialization)="onRecoverySpecialization($event)"
></recovery-specialization>
