<div class="panel">
    <div class="conditions">
        <div [ngClass]="{'d-none': autoSemesterSelect}">
            <label for="selectSemester">
                Обрати семестр
            </label>
            <select id="selectSemester"
                    [(ngModel)]="selectSemester"
                    (change)="toggleSemester()">
                <option value="1">1 Семестр</option>
                <option value="2">2 Семестр</option>
                <option value="3">3 Семестр</option>
                <option value="4">4 Семестр</option>
                <option value="5">5 Семестр</option>
                <option value="6">6 Семестр</option>
                <option value="7">7 Семестр</option>
                <option value="8">8 Семестр</option>
                <option value="9">9 Семестр</option>
                <option value="10">10 Семестр</option>
            </select>
        </div>
        <select [(ngModel)]="degree">
            <option value="1">Бакалавр</option>
            <option value="3">Магiстр</option>
        </select>

        <input type="text" [(ngModel)]="searchText" placeholder="Пошук..."/>

        <label>
            <input type="checkbox"
                   [(ngModel)]="autoSemesterSelect"
                   (click)="checkAutoSelectSemester($event)"
                   name="autoSelectSemester"
                   id="autoSelectSemester"/>
            Обрати поточний семестр
        </label>
    </div>
    <div class="dropdown-divider"></div>
    <div class="groups">
        <div *ngIf="groups" class="list-group">
            <ng-container *ngFor="let group of groups | groupSearch : searchText">
                <button *ngIf="group.specialization.degree.id == degree"
                        [ngClass]="{'active': selectGroup.id === group.id}"
                        (click)="getSelectGroup(group)">
                    {{ group.name }}
                </button>
            </ng-container>
        </div>
        <loading *ngIf="!groups" [size]="50"></loading>
    </div>
</div>