<div class="{{ !autoSemesterSelect? 'd-block': 'd-none'}}">
    <label for="selectSemester">
        Обрати семестр
    </label>
    <select id="selectSemester"
            [(ngModel)]="selectSemester"
            class="form-control form-control-sm mb-3"
            (change)="toggleSemester()">
        <option value="1">1 Семестр</option>
        <option value="2">2 Семестр</option>
        <option value="3">3 Семестр</option>
        <option value="4">4 Семестр</option>
        <option value="5">5 Семестр</option>
        <option value="6">6 Семестр</option>
        <option value="7">7 Семестр</option>
        <option value="8">8 Семестр</option>
        <option value="9">9 Семестр</option>
        <option value="10">10 Семестр</option>
    </select>
</div>

<select class="form-control form-control-sm mb-3" [(ngModel)]="degree">
    <option value="1">Бакалавр</option>
    <option value="3">Магiстр</option>
</select>

<div class="mb-3">
    <label>
        <input type="checkbox"
               [(ngModel)]="autoSemesterSelect"
               (click)="checkAutoSelectSemester()"
               name="autoSelectSemester"
               id="autoSelectSemester"/>
        Автоматично обрати семестр
    </label>
</div>

<div class="groups">
    <div *ngIf="groups" class="list-group">
        <ng-container *ngFor="let group of groups">
            <button *ngIf="group.specialization.degree.id == degree" class="list-group-item list-group-item-action"
                    [class.active]="selectGroup.id === group.id"
                    (click)="getSelectGroup(group)">
                {{ group.name }}
            </button>
        </ng-container>
    </div>
</div>