@import "../../../../styles";

.panel {
  display: flex;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 0;
  flex-flow: column;
}

select, input[type="text"] {
  @extend .form-control;
  @extend .form-control-sm;
  @extend .mb-2;
  display: block;
}

.groups {
  flex: 1;
  overflow: auto;
}

.groups > * button {
  @extend .list-group-item;
  @extend .list-group-item-action;
  padding: 1px 3px;
  cursor: pointer;
}

.groups > * .active {
  cursor: auto;
}

loading {
  top: 50%;
  left: 50%;
  position: absolute;
}

label { font-size: 14px; }