<div class="container-fluid h-100">
  <div class="row h-100 flex-column">
    <div class="col content overflow-auto">
      <div class="d-flex flex-column h-100 overflow-auto">
        <div class="d-flex my-2 align-items-center">
          <label class="mr-auto ml-1 m-0">
            <input type="checkbox"
                   [checked]="actualDepartments"
                   (change)="actualDepartments = !actualDepartments; filterActive()">
            Актуальні кафедри
          </label>

          <!--<label class="mr-auto ml-1 m-0">
            <input type="checkbox"  id="active" #active (change)="loadTeachers(active.checked)" checked>
            Актуальні викладачі
          </label>-->

          <div class="float-right">
            <button type="button" class="btn btn-danger align-middle"
                    [disabled]="selectedDepartments.length === 0"
                    (click)="deleteDepartmentModal.showModal(gridApi.getSelectedRows()[0])">
              Видалити
            </button>

            <button type="button" class="btn btn-warning align-middle"
                    (click)="updateDepartmentModal.showModal(gridApi.getSelectedRows()[0])"
                    [disabled]="selectedDepartments.length === 0">
              Редагувати
            </button>

            <button type="button" class="btn btn-success align-middle"
                    (click)="addDepartmentModal.showModal()">
              Нова кафедра
            </button>
          </div>
        </div>
        <ag-grid-angular
          class="ag-theme-balham overflow-auto h-100"
          rowSelection="single"
          rowHeight="30"
          headerHeight="70"
          enableCellChangeFlash=true
          [animateRows]="true"
          [accentedSort]="true"
          [rowData]="departments"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [localeText]="localeText"
          [getRowNodeId]="getRowNodeId"
          (columnResized)="onColumnResized($event)"
          (selectionChanged)="onSelectionChanged($event)"
          (gridReady)="onGridReady($event)"
          (modelUpdated)="onModelUpdated($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
    <footer class="bg-light px-3 py-2">
      <span class="mr-3">Всього: {{count || '0'}}</span>
      <span>Вибрано: {{selectedDepartments.length || '0'}}</span>
    </footer>
  </div>
</div>

<add-department
  #addDepartmentModal
  (addDepartment)="onAddDepartment($event)">
</add-department>

<update-department
  #updateDepartmentModal
  (updateDepartment)="onUpdateDepartment($event)">
</update-department>

<delete-department
  #deleteDepartmentModal
  (deleteDepartment)="onDeleteDepartment($event)">
</delete-department>

