::ng-deep .modal-dialog {
  max-width: 95%;
}

.modal-header{
  text-align: center;
}
.modal-body{
  display: flex;
}

.selective-courses-container{
  margin-top: 4px;
}

.courses-container{
  display: inline-block;
  width: 50%;
}

.selective-courses-container{
  overflow-y: scroll;
  height: 340px;
}

.students-table-scroll{
  overflow-y: scroll;
  height: 300px;
}

.students-container{
  display: inline-block;
  width: 50%;
}

.bottom-selected-courses {
  margin-top: 30px;
}

.bottom {
  margin-top: 30px;
}

.p-3 {
  padding: 0 5px !important;
}

.d-flex {
  align-items: center;
  padding-left: 16px;
  padding-right: 1.73rem;
}

.students-input-container{
  padding: 3px 2.05rem 3px 16px;
}

.courses-inputs-container {
  display: flex;
  width: 100%;
}

.courses-input{
  width: 50%;
}

.courses-input:first-child{
  padding-right: 1.5px;
}

.courses-input:last-child{
  padding-left: 1.5px;
}
