<div class="modal fade"
     [config]="{backdrop: 'static'}" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Направити в академ. відпустку</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" novalidate class="row">
          <div class="form-group col-6">
            <label for="vacationStartDate" class="required">Дата початку академ. відпустки</label>
            <input type="date" formControlName="vacationStartDate" class="form-control" id="vacationStartDate"
                   [appValidation]="form.controls.vacationStartDate">
            <app-validation-errors [control]="form.controls.vacationStartDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="vacationEndDate" class="required">Дата закінчення академ. відпустки</label>
            <input type="date" formControlName="vacationEndDate" class="form-control" id="vacationEndDate"
                   [appValidation]="form.controls.vacationEndDate">
            <app-validation-errors [control]="form.controls.vacationEndDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="orderNumber" class="required">Номер наказу</label>
            <input formControlName="orderNumber" class="form-control" id="orderNumber"
                   [appValidation]="form.controls.orderNumber">
            <app-validation-errors [control]="form.controls.orderNumber"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="orderDate" class="required">Дата наказу</label>
            <input type="date" formControlName="orderDate" class="form-control" id="orderDate"
                   [appValidation]="form.controls.orderDate">
            <app-validation-errors [control]="form.controls.orderDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="applicationDate" class="required">Дата заяви</label>
            <input type="date" formControlName="applicationDate" class="form-control" id="applicationDate"
                   [appValidation]="form.controls.applicationDate">
            <app-validation-errors [control]="form.controls.applicationDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="reason" class="required">Причина академ.відпустки</label>
            <select formControlName="orderReasonId" class="form-control" id="reason" [appValidation]="form.controls.orderReasonId">
              <option *ngFor="let reason of reasons" [ngValue]="reason.id">{{reason.name}}</option>
            </select>
            <app-validation-errors [control]="form.controls.orderReasonId"></app-validation-errors>
          </div>
          <div class="form-group col">
            <label for="extraInformation">Примітки</label>
            <input formControlName="extraInformation" class="form-control" id="extraInformation"
                   [appValidation]="form.controls.extraInformation">
            <app-validation-errors [control]="form.controls.extraInformation"></app-validation-errors>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submit()" class="btn btn-success btn-submit">Направити в академ. відпустку</button>
        <button (click)="hideModal()" class="btn btn-outline-info">Скасувати</button>
      </div>
    </div>
  </div>
</div>
