<div *ngFor="let s of selectiveCoursesStudentDegree">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th colspan="4">
        {{s.studentDegree.student.surname}} {{s.studentDegree.student.name}} {{s.studentDegree.student.patronimic}},
        {{s.studentDegree.specialization.faculty.abbr === null ? s.studentDegree.specialization.faculty.name :
        s.studentDegree.specialization.faculty.name}},
        {{s.studentDegree.specialization.speciality.code}} {{s.studentDegree.specialization.speciality.name}},
        {{s.studentDegree.studentGroup.name}}
      </th>
    </tr>
    <tr>
      <th scope="col">Дисципліна</th>
      <th scope="col">Цикл підготовки</th>
      <th scope="col">Кафедра</th>
      <th scope="col">Викладач</th>
    </tr>
    </thead>
    <tbody *ngFor="let n of s.selectiveCourses">
    <tr>
      <td>{{n.course.courseName.name}}</td>
      <td>{{n.trainingCycle}}</td>
      <td>{{n.department.name}}</td>
      <td>{{n.teacher.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
