<app-grades-statement #statement [courses]="courses" [studentsDegree]="studentsDegree"></app-grades-statement>
<table *ngIf="courses.length && studentsDegree.length">
    <thead>
    <tr>
        <td>№</td>
        <td>{{selectGroup?.name}}<br>
            Семестр: {{ selectSemester }}
        </td>
        <td *ngFor="let course of courses; let courseId = index" scope="row" class="btn-courses"
            (click)="statement.setCourse(courseId); statement.modal.show()">
            {{course.course.courseName?.name}}
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studentDegree of studentsDegree; let studentId = index">
        <td>{{studentId + 1}}</td>
        <td class="td-student">{{studentDegree.student.surname}}
            {{studentDegree.student.name[0]}}.{{studentDegree.student.patronimic[0]}}.
        </td>
        <ng-container *ngFor="let grade of studentDegree.grades; let gradeId = index">
            <td [ngClass]="{ 'bg-danger' : grade?.empty, 'text-center align-middle': true}">
                <input type="number" [(ngModel)]="grade.points"
                       (change)="editGrade(grade, studentId, gradeId)"
                       (keyup)="nextCell($event, studentId, gradeId)"
                       id="grade{{studentId}}{{gradeId}}"
                       [ngClass]="{'notCorrect': !grade?.empty && (grade.points < 60 || grade.points >100)}"
                       max="100" min="0"/>
            </td>
        </ng-container>
    </tr>
    </tbody>
</table>