@import "../../../../styles";

table {
  @extend table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-responsive;
  @extend .table-sm;
  font-size: 14px;
}

td > input {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.td-student {
  white-space: nowrap;
}

.btn-courses {
  @extend .btn-light;
  cursor: pointer;
}

.not-correct {
  outline: 1px solid #007bff;
}

.not-on-time {
  outline: 1px solid #ff8a42 !important;
}

.without-course {
  background-color: #dc3545 !important;
}

.updated-grade {
  background-color: #ffc107 !important;
}

.updated-academic-difference {
  background-color: #ff9307 !important;
}

.academic-difference {
  background-color: #28a745 !important;
}

.course-with-academic-difference {
  background-color: #aeea00;
  &:hover {
    background-color: #79b700;
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:disabled {
  cursor: auto;
}
