<app-grades-statement #statement
                      [courses]="courses"
                      [selectGroup]="selectGroup"
                      [studentsDegree]="studentsDegree"
                      (sendGrades)="updateGradesByStatement($event)"
                      (resetGradesForTable)="resetGrades()">
</app-grades-statement>
<loading *ngIf="!loadingGrades && selectGroup" [size]="100"></loading>

<table *ngIf="courses.length && studentsDegree.length && loadingGrades">
    <thead>
    <tr>
        <td>№</td>
        <td>{{selectGroup?.name}}<br>
            Семестр: {{ selectSemester }}
        </td>
        <td *ngFor="let course of courses" scope="row" class="btn-courses"
            (click)="openStatement(course)">
            {{course.course.courseName?.name}} (<b>{{ course.course.knowledgeControl.name }}</b>)
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studentDegree of studentsDegree; let studentId = index">
        <td>{{studentId + 1}}</td>
        <td class="td-student">{{studentDegree.student.surname}}
            {{studentDegree.student.name[0]}}.{{studentDegree.student.patronimic[0]}}.
        </td>
        <ng-container *ngFor="let grade of studentDegree.grades; let gradeId = index">
            <td [ngClass]="{ 'bg-danger' : grade?.empty, 'text-center align-middle': true}">
                <input type="number" [value]="grade.points"
                       (change)="editGrade(grade, studentId, gradeId, $event)"
                       (keyup)="nextCell($event, studentId, gradeId);"
                       id="grade{{studentId}}{{gradeId}}id"
                       [ngClass]="{'notCorrect': !grade?.empty && (grade.points < 60 || grade.points >100)}"/>
            </td>
        </ng-container>
    </tr>
    </tbody>
</table>