@import "../../../../styles";

table {
  @extend table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-responsive;
  @extend .table-sm;
  font-size: 14px;
}

td > input {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.td-student {
  white-space: nowrap;
}

.btn-courses {
  @extend .btn-light;
  cursor: pointer;
}

.notCorrect {
  outline: 1px solid #FF5722;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:disabled {
  cursor: auto;
}