<app-grades-statement #statement
                      [selectGroup]="selectGroup"
                      [studentsDegree]="studentsDegree"
                      (sendGrades)="updateGradesByStatement($event)"
                      (resetGradesForTable)="resetGrades()">
</app-grades-statement>
<loading *ngIf="!loadingGrades && selectGroup" [size]="100"></loading>

<table *ngIf="coursesForGroup.length && studentsDegree.length && loadingGrades">
    <thead>
    <tr>
        <td>№</td>
        <td>{{selectGroup?.name}}<br>
            Семестр: {{ selectSemester }}
        </td>
        <td *ngFor="let courseForGroup of coursesForGroup" scope="row" class="btn-courses"
            (click)="openStatement(courseForGroup)">
          {{courseForGroup.course.courseName?.name}} (<b>{{ courseForGroup.course.knowledgeControl.name }}</b>)
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studentDegree of studentsDegree; let studentId = index">
        <td>{{studentId + 1}}</td>
        <td class="td-student">{{studentDegree.student.surname}}
            {{studentDegree.student.name[0]}}.{{studentDegree.student.patronimic[0]}}.
        </td>
        <ng-container *ngFor="let grade of studentDegree.grades; let gradeId = index">
          <td [ngClass]="{ 'bg-danger' : grade?.empty && !isDeleteMode, '': true}"
              [class.bg-danger]="grade?.wrongInterval"
              [class.bg-warning]="grade?.changed"
          >
                <input type="number" [value]="grade.points" *ngIf="!isDeleteMode"
                       (change)="editGrade(grade, studentId, gradeId, $event)"
                       (keyup)="nextCell($event, studentId, gradeId);"
                       id="grade{{studentId}}{{gradeId}}id"
                       [ngClass]="{'notCorrect': !grade?.empty && (grade.points < 60 || grade.points >100)}"/>

                <input type="checkbox" [disabled]="grade?.empty" *ngIf="isDeleteMode"
                       [checked]="selectedGradeForDelete?.id === grade.id" (click)="selectGradeForDelete(grade)"
                       title="{{grade.points}}">
            </td>
        </ng-container>
    </tr>
    </tbody>
</table>
