<div class="modal fade"
     [config]="{backdrop: 'static'}" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Призначити групу</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 col-lg-12 students-list">
          <div class="students-list row">
            <div *ngFor="let student of students; let i = index" class="student col-6">
              <div class="card h-100">
                <div class="card-body p-1 p-md-2">
                  <b class="d-block">{{i+1}}. {{student.fullName}}</b>
                  <div>
                    <small class="d-inline" *ngIf="student.group">Група: {{student.group}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <select [formControl]="group" class="float-left form-control">
          <option *ngFor="let group of groups" [ngValue]="group">
            {{group.name}}
          </option>
        </select>
        <button (click)="submit()" [disabled]="group.invalid" class="btn btn-success btn-submit">Призначити групу</button>
        <button (click)="hideModal()" class="btn btn-outline-info">Скасувати</button>
      </div>
    </form>
  </div>
</div>
