.column {
  display: flex;
  flex-direction: column;
  min-height: 374px;
  height: 55vh;
  align-content: stretch;
}

.toolbox {
  display: flex;
  justify-content: space-between;
  flex-basis: max-content;
  flex-shrink: 0;
  margin-top: 10px;
}

.competencies {
  flex-grow: 1;
  display: flex;

  textarea {
    min-height: 100%;
    resize: none;
    flex-grow: 1;
    align-self: stretch;
  }
}

.competencies-loading {
  margin: auto;
}

