<input [(ngModel)]="val"
       [typeahead]="dataSource"
       (typeaheadOnSelect)="onSelect($event)"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="5"
       [typeaheadWaitMs]="500"
       [typeaheadMinLength]="3"
       [typeaheadItemTemplate]="template"
       class="form-control"
       [id]="id"
       [appValidation]="control"
       autocomplete="off"
>
<app-validation-errors [control]="control" [messages]="errorMessages"></app-validation-errors>

<ng-template #template let-model="item" let-index="index">
  <div class="py-2">
    <b>{{model.surname}} {{model.name}} {{model.patronimic}}</b>
    <div class="d-flex justify-content-between">
      <small>{{model.birthDate}}</small>
      <small class="ml-5">{{model.groups}}</small>
    </div>
  </div>
</ng-template>
