table {
  margin: 0;
  td {
    text-align: left;
  }
  th {
    text-align: center;
  }
  th, td {
    border: 2px solid #dee2e6;
    padding: 3px 4px;
  }
}

.row-number {
  width: 30px;
}
.row-control {
  width: 140px;
}
.row-hours {
  width: 45px;
}
.row-teacher {
  width: 165px;
}
.row-exam-date {
  width: 105px;
}

label {
  cursor: pointer;
}

