<loading *ngIf="loading"></loading>

<ngx-datatable
  #table
  *ngIf="!loading"
  class="material"
  [columns]="cols"
  [rows]="rows"
  [rowHeight]="'auto'"
  [rowIdentity]="getRowIdentity"
  [headerHeight]="33"
  [columnMode]="'force'"
  [messages]="{ emptyMessage: 'Дані відсутні.' }"
  [sortType]="'multi'"
  [trackByProp]="'id'"
  [selectionType]="'checkbox'"
  [selectAllRowsOnPage]="false"
  [selected]="selected"
  (select)="select($event)"
  (activate)="activate($event)"
>
</ngx-datatable>

<ng-template #sexTemplate let-value="value">
  {{value === 'MALE' ? 'Чол.' : ''}}
  {{value === 'FEMALE' ? 'Жін.' : ''}}
</ng-template>

<ng-template #paymentTemplate let-value="value">
  {{value === 'BUDGET' ? 'Бюджет' : ''}}
  {{value === 'CONTRACT' ? 'Контракт' : ''}}
</ng-template>

<ng-template #dateTemplate let-value="value">
  {{getDate(value) | date: 'dd.MM.yyyy'}}
</ng-template>
