<div class="container-fluid h-100">
  <div class="row h-100 flex-nowrap">
    <div class="col content py-3">

      <tabset class="h-100">
        <tab heading="Відрахування за останні 5 років (крім тих, що успішно закінчили навчання)" class="h-100">
          <div class="my-2 d-flex">
            <app-students-search
              class="mr-2"
              [rows]="rows"
              (searchResult)="onSelect($event)"
              studentField="studentDegree.student"
            ></app-students-search>

            <button
              *ngIf="selected.length === 1 && !selected[0].active"
              class="btn btn-info mr-2"
              (click)="renewStudentModal.openModal(selected[0])"
            >
              Поновити
            </button>
            <button
              *ngIf="selected.length === 1"
              class="btn btn-warning ml-3 mr-2"
              (click)="onFormAcademicCertificate()"
            >
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="academicCertificateLoading">
              </span>
              Сформувати академдовідку
            </button>
          </div>

          <students-table
            #expelledStudentsTable
            [rows]="rows"
            [columnDefs]="columnDefs"
            (selectionChanged)="onSelectionChanged($event)"
            (itemsCountUpdate)="onItemsCountUpdate($event)"
          >
          </students-table>

          <div class="bg-light fixed-bottom p-2">
            Всього: {{count || '0'}}
          </div>
        </tab>

        <tab heading="Всі відрахування" class="h-100" (select)="onAllTabSelect()">
          <div class="my-2 d-flex">
            <div class="mr-2">
              <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSearchAllExpelled()">
                <input
                  class="form-control mr-2"
                  placeholder="прізвище"
                  formControlName="surname"
                >
                <input
                  class="form-control mr-2"
                  placeholder="ім'я"
                  formControlName="name"
                >
                <input
                  type="date"
                  class="form-control mr-2"
                  formControlName="startDate"
                  title="Початкова дата пошуку">
                <input
                  type="date"
                  class="form-control mr-2"
                  formControlName="endDate"
                  title="Кінцева дата пошуку">
                <button type="submit" class="btn btn-info" [disabled]="searchForm.invalid">
                  Пошук
                </button>
              </form>
            </div>
            <button
              *ngIf="selectedAll.length === 1 && !selectedAll[0].active"
              class="btn btn-info mr-2"
              (click)="renewAllStudentModal.openModal(selectedAll[0])"
            >
              Поновити
            </button>
            <button
              *ngIf="selectedAll.length === 1"
              class="btn btn-info mr-2"
              (click)="studentAllInfo.openModal(selectedAll[0].studentDegree)">
              Інфо про студента
            </button>
            <button
              *ngIf="selectedAll.length === 1"
              class="btn btn-warning"
              (click)="onFormAcademicCertificateAll()"
            >
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="academicCertificateLoading">
              </span>
              Сформувати академдовідку
            </button>
          </div>

          <students-table
            #allExpelledStudentsTable
            [rows]="rowsAll"
            [columnDefs]="columnDefs"
            (selectionChanged)="onAllSelectionChanged($event)"
            (itemsCountUpdate)="onAllItemsCountUpdate($event)"
          >
          </students-table>

          <div class="bg-light fixed-bottom p-2">
            Всього: {{countAll || '0'}}
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<app-renew-student
  #renewStudentModal
  (onSubmit)="onRenew($event)">
</app-renew-student>

<app-renew-student
  #renewAllStudentModal
  (onSubmit)="onRenewAll($event)">
</app-renew-student>

<student-all-info
  [editable]="false"
  #studentAllInfo>
</student-all-info>
