<div class="row">
  <div class="col-6">
    <button type="button" class="btn btn-info"  *ngIf='!isLoggedIn()' (click)="signIn()">Увійти в Google account</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <button type="button" class="btn btn-info"  *ngIf='isLoggedIn()' (click)="getUsers('today', 'today')">Сформувати звіти</button>
  </div>
  <div class="col-8">
    <button type="button" class="btn btn-info"  *ngIf='isLoggedIn()' (click)="signOut()">Вийти з Google account</button>
  </div>
</div>
