<div class="modal fade" [config]="{backdrop: 'static'}" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Ви дійсно бажаєте видалити вибрані спеціалізації?</div>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngFor="let item of items; let i = index" class="card mb-2">
          <div class="card-body">
            <div>
              <button class="close" (click)="remove(i)" *ngIf="items.length > 1">×</button>
              <b>{{i + 1}}. {{item?.name}}</b>
            </div>
            <div>
              <small>
                <b>Спеціальність:</b> {{item?.speciality?.code + ' ' + item?.speciality?.name}}
              </small>
            </div>
            <div>
              <small>
                <b>Ступінь:</b> {{item?.degree?.name}}
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="submit()" class="btn btn-danger">Видалити</button>
        <button type="button" (click)="hideModal()" class="btn btn-outline-danger">Скасувати</button>
      </div>
    </div>
  </div>
</div>
