<div class="modal fade" [config]="{backdrop: 'static'}" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Ви дійсно бажаєте видалити вибрані спеціалізації?</div>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <div class="modal-body">

      </div>

      <div class="modal-footer">
        <button (click)="submit()" class="btn btn-danger">Видалити</button>
        <button (click)="hideModal()" class="btn btn-outline-danger">Скасувати</button>
      </div>
    </div>
  </div>
</div>
