<div class="modal fade"
     [config]="{backdrop: 'static'}" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Поновити студента</h4>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="mb-3" *ngIf="student">
          Студент: {{student.surname}} {{student.name}} {{student.patronimic}}
        </h5>
        <form [formGroup]="form" novalidate class="row">
          <div class="form-group col-6">
            <label class="required">Форма навчання</label>
            <div class="form-check">
              <input formControlName="payment" [appValidation]="form.controls.payment"
                     class="form-check-input" type="radio" value="BUDGET" id="payment1">
              <label class="form-check-label" for="payment1">Бюджет</label>
            </div>
            <div class="form-check">
              <input formControlName="payment" [appValidation]="form.controls.payment"
                     class="form-check-input" type="radio" value="CONTRACT" id="payment2">
              <label class="form-check-label" for="payment2">Контракт</label>
            </div>
            <app-validation-errors [control]="form.controls.payment"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="group" class="required">Група</label>
            <select formControlName="studentGroupId" class="form-control" id="group"
                    [appValidation]="form.controls.studentGroupId">
              <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
            </select>
            <app-validation-errors [control]="form.controls.studentGroupId"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="orderNumber" class="required">Номер наказу</label>
            <input formControlName="orderNumber" class="form-control" id="orderNumber"
                   [appValidation]="form.controls.orderNumber">
            <app-validation-errors [control]="form.controls.orderNumber"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="orderDate" class="required">Дата наказу</label>
            <input type="date" formControlName="orderDate" class="form-control" id="orderDate"
                   [appValidation]="form.controls.orderDate">
            <app-validation-errors [control]="form.controls.orderDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="renewDate" class="required">Дата поновлення</label>
            <input type="date" formControlName="renewDate" class="form-control" id="renewDate"
                   [appValidation]="form.controls.renewDate">
            <app-validation-errors [control]="form.controls.renewDate"></app-validation-errors>
          </div>
          <div class="form-group col-6">
            <label for="applicationDate" class="required">Дата заяви</label>
            <input type="date" formControlName="applicationDate" class="form-control" id="applicationDate"
                   [appValidation]="form.controls.applicationDate">
            <app-validation-errors [control]="form.controls.applicationDate"></app-validation-errors>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="submit()" class="btn btn-success btn-submit">Поновити</button>
        <button (click)="hideModal()" class="btn btn-outline-info">Скасувати</button>
      </div>
    </div>
  </div>
</div>
