<div class="header">
  <button (click)="onCreateTemplate()" class="btn btn-success align-middle">Створити шаблон</button>
</div>
<div class="availableOrderApproversTemplates">
  <div *ngFor="let template of availableOrderApproverTemplates">
    <table>
      <tbody>
      <tr>
        <td>Основний підписант:</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{template.mainApprover.position}}</td>
        <td></td>
        <td>{{template.mainApprover.fullName | initialsAndSurname}}</td>
      </tr>
      <tr>
        <td>ПОГОДЖЕНО:</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let approver of template.approvers">
        <td>{{approver.position}}</td>
        <td></td>
        <td>{{approver.fullName | initialsAndSurname}}</td>
      </tr>
      <tr>
        <td>Проект наказу вносить:</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{template.initiatorApprover.position}}</td>
        <td></td>
        <td>{{template.initiatorApprover.fullName | initialsAndSurname}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<create-order-approvers-template
  (newTemplate)="onAddApproversTemplate($event)"
  [isOpened]="isCreationOpened"
  (onModalClosed)="isCreateClosed($event)"
></create-order-approvers-template>
