<div class="approversTemplate">
  <div class="allApprovers">
    <table class="allApproversTable">
      <caption>Підписанти</caption>
      <tr>
        <th class="firstcell"></th>
        <th>П.І.Б.</th>
        <th>Посада</th>
      </tr>
      <tbody>
      <tr *ngFor="let approver of allApprovers">
        <td class="firstcell"><input type="checkbox" [(ngModel)]="approver.selected"></td>
        <td>{{approver.fullName}}</td>
        <td>{{approver.position}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="buttonsBlock">
    <p><button (click)="addMainApprover()">Основний підписант</button></p>
    <p><button (click)="addOverrallApprovers()">З ким погоджено</button></p>
    <p><button (click)=" addRegisteredBy()">Хто вносить наказ</button></p>
  </div>
  <div class="checkedApprovers">
    <table>
      <caption>Відібрані підписанти</caption>
      <tbody>
      <tr>
        <td>Основний підписант:</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="mainApprover">
        <td>{{mainApprover.position}}</td>
        <td></td>
        <td>{{mainApprover.fullName}}</td>
      </tr>
      <tr>
        <td>ПОГОДЖЕНО:</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let approver of overrallApproversList">
        <td>{{approver.position}}</td>
        <td></td>
        <td>{{approver.fullName}}</td>
      </tr>
      <tr>
        <td>Проект наказу вносить:</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="initiatorApprover">
        <td>{{initiatorApprover.position}}</td>
        <td></td>
        <td>{{initiatorApprover.fullName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

