#approverTemplatesContainer{
  width: 90%;
  margin-left: 1%;
}
.header{
  margin-top: 15px;
  margin-bottom: 15px;
}

.header button {
  margin-right: 5px;
}

.availableOrderApproversTemplates  {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
}

.templateDiv {
  border: solid 3px #03A9F4;
  border-radius: 8px;
  width: 30%;
  position: relative;
  margin-right: 1%;
  margin-bottom: 1%;
  padding-left: 0.5%;
}

.templateDiv:hover {
  background-color: #99CCFF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.td1 {
  width: 270px;
}
.td2 {
  width: 60px;
}
.td3 {
  width: 140px;
}
.head {
  font-weight: bold;
  height: 30px;
}

.test {
  background-color: #ffe605;
  border: solid 3px #ffb805;
}
mat-slide-toggle {
  padding-right: 20px;
}

