<div class="modal-header">
    <h4 class="modal-title">Додати параметри вибору вибіркових дисциплін на наступний навчальний рік </h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="creation-form">
        <form [formGroup]="form" class="form-group">
            <div class="form-element">
                <label for="firstRoundStartDate">Дата початку першого туру:</label>
                <input type="date" id="firstRoundStartDate" formControlName="firstRoundStartDate" class="form-control">
            </div>

            <div class="form-element">
                <label for="firstRoundEndDate">Дата закінчення першого туру:</label>
                <input type="date" id="firstRoundEndDate" formControlName="firstRoundEndDate" class="form-control">
            </div>

            <div class="form-element">
                <label for="secondRoundStartDate">Дата початку другого туру:</label>
                <input type="date" id="secondRoundStartDate" formControlName="secondRoundStartDate" class="form-control">
            </div>

            <div class="form-element">
                <label for="secondRoundEndDate">Дата закінчення другого туру:</label>
                <input type="date" id="secondRoundEndDate" formControlName="secondRoundEndDate" class="form-control">
            </div>
            <div class="form-element">
                <label for="minStudentsCount">Мінімальна кількість студентів: </label>
                <input type="number" id="minStudentsCount" formControlName="minStudentsCount" class="form-control">
            </div>
        </form>


        <div *ngIf="!(message === '')" class="alert alert-danger">
          {{message}}
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="submit()">Зберегти</button>
            <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Скасувати</button>
        </div>
    </div>
</div>
