::ng-deep .modal-dialog {
  max-width: 65%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.form-element {
  text-align: left;
  margin-top: 5px;
  flex-grow: 1;
}

.max-width {
  align-content: center;
  width: 100%;
}

.student-count {
  width: 30%;
}
