::ng-deep .modal-dialog {
  max-width: 30%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.form-element {
  text-align: left;
  width: 49%;
  margin-top: 5px;
}

.max-width {
  width: 100%;
}
