<div class="card">
  <div class="card-header">
    Призначені предмети
  </div>
  <div class="div-table">
    <table class="table table-striped">
      <thead>
      <td><input type="checkbox"></td>
      <td>Назва</td>
      <td>Вид</td>
      <td>Години</td>
      <td>Викладач</td>
      <td>Дата екзамену</td>
      </thead>
      <!--<div *ngIf="show">-->
        <tr *ngFor="let course of selectedCoursesForGroups; let i = index">
          <td><input type="checkbox"></td>
          <td>{{ course.course.courseName.name }}</td>
          <td>{{ course.course.knowledgeControl.name}}</td>
          <td>{{ course.course.hours }}</td>
          <td>{{ course.teacher }}</td>
          <td>{{ course.examDate }}</td>
        </tr>
      <!--</div>-->
    </table>
  </div>
</div>
