.div-table{
  height: 200px;
  overflow: auto;
}

table tr td{
  padding: 5px;
}

table thead td{
  padding: 5px;
}

.btn {
  height: 2rem;
}

.form-control {
  height: 1.5rem;
}

.card-header{
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
