.div-table {
  height: 225px;
  overflow: auto;
}

.btn {
  padding: 0rem 0.75rem;
  height: 1.5rem;
  font-size: 12px;
}

.form-control {
  height: 1.5rem;
  font-size: 12px;
}

.btn-outline-secondary {
  width: 100%;
}

.card-body {
  padding: 0px;
}

table tr td{
  padding: 0.05rem 0.3rem;
  padding-top: 0.1rem;
}

thead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 13px;
}
