<div class="card">
  <div class="card-header">
    Призначені предмети
  </div>
  <div class="div-table">
    <table class="table table-striped">
      <thead>
      <td></td>
      <td>Назва</td>
      <td>Вид</td>
      <td>Години</td>
      <td>Викладач</td>
      <td>Дата екзамену</td>
      </thead>
      <tr *ngFor="let course of coursesForGroup; let i = index">
        <td><input type="checkbox" (change)="changeCoursesForDelete($event.target.checked, course)"></td>
        <td>{{ course.course.courseName.name }}</td>
        <td>{{ course.course.knowledgeControl.name}}</td>
        <td>{{ course.course.hours }}</td>
        <td (click)="changeTeacher(i)">{{ getNameWithInitials(course?.teacher?.surname, course?.teacher?.name, course?.teacher?.patronimic) }}</td>
        <td><form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder={{parseToDate(course.examDate)}}
                     name="dp" [(ngModel)]="course.examDate" onchange="dateChange(i)" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
        </td>
      </tr>
    </table>
  </div>
</div>
