<div class="card">
  <div class="card-header">
    Предмети
  </div>
  <div>
    <table class="table table-striped mt-4">
      <thead>
      <td><input type="checkbox"></td>
      <td>Назва</td>
      <td>Вид</td>
      <td>Години</td>
      <td>Викладач</td>
      <td>Дата екзамену</td>
      </thead>
      <tr *ngFor="let course of courses; let i = index">
        <td><input type="checkbox" checked></td>
        <td>{{ course.courseName.name }}</td>
        <td>{{ course.knowlegeControl }}</td>
        <td>{{ course.hours }}</td>
      </tr>
    </table>
  </div>
</div>
