<div class="modal-header">
  <h4 class="modal-title">Редагувати предмет</h4>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="creation-form">
    <form [formGroup]="form">
      <div formGroupName="course">
        <div class="row">
          <div class="form-group col">
            <div formGroupName="courseName">
              <label for="name" class="col-form-label">Назва курсу</label>
              <input id="name"
                     formControlName="name"
                     [typeahead]="courseNames"
                     typeaheadOptionField="name"
                     (typeaheadOnSelect)="onSelect($event)"
                     [typeaheadOptionsLimit]="7"
                     [typeaheadMinLength]="0"
                     placeholder="Назва"
                     class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-2">
            <label for="hours" class="col-form-label">Години</label>
            <input name="hours" id="hours" required class="form-control mr-2 ng-pristine ng-valid ng-touched"
                   formControlName="hours" (change)="setCredits()">
          </div>
          <div class="form-group col-3">
            <label for="hoursPerCredit" class="col-form-label">Години за кредит</label>
            <select name="hoursPerCredit" id="hoursPerCredit" class="form-control mr-2 ng-pristine ng-valid ng-touched"
                    formControlName="hoursPerCredit" (change)="setCredits()">
              <option [ngValue]="30">30</option>
              <option [ngValue]="36">36</option>
            </select>
          </div>
          <div class="form-group col-2">
            <label for="credits" class="col-form-label">Кредити</label>
            <input
              disabled
              id="credits"
              class="form-control mr-2 ng-pristine ng-valid ng-touched"
              formControlName="credits">
          </div>
          <div class="form-group col-5">
            <label for="knowledgeControl" class="col-form-label">Тип контролю</label>
            <select name="knowledgeControl" id="knowledgeControl" required class="form-control mr-2"
                    formControlName="knowledgeControl" [compareWith]="compareById">
              <option *ngFor="let kc of knowledgeControl" [ngValue]="kc">
                {{kc.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="saveChanges()">Зберегти</button>
      <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Відмінити зміни</button>
    </div>
  </div>
</div>
