<div class="container-fluid h-100">
  <div class="row h-100 flex-nowrap">
    <div class="col content py-3">
      <div class="mb-4 mt-3 d-flex">
        <app-students-search
          class="mr-auto"
          [rows]="rows"
          (searchResult)="onSearch($event)"
          studentField="studentDegree.student"
        ></app-students-search>
        <button
          *ngIf="selected.length === 1 && !selected[0].active"
          class="btn btn-info"
          (click)="stopAcademicVacationModal.openModal(selected[0])"
        >
          Поновити
        </button>
      </div>

      <students-table
        #studentsInVacationTable
        [rows]="rows"
        [columnDefs]="columnDefs"
        (selectionChanged)="onSelectionChanged($event)"
        (itemsCountUpdate)="onItemsCountUpdate($event)"
      >
      </students-table>

      <div class="bg-light fixed-bottom p-3">
        Всього: {{count || '0'}}
      </div>
    </div>
  </div>
</div>

<app-stop-academic-vacation
  #stopAcademicVacationModal
  (onSubmit)="onRenew()"
></app-stop-academic-vacation>
