<div class="container-fluid h-100">
  <div class="row h-100 flex-nowrap">
    <div class="col content py-3">
      <div class="mb-4 mt-3 d-flex">
        <app-students-search class="mr-auto" [rows]="rows" (searchResult)="onSelect($event)"></app-students-search>
      </div>

      <div class="students-table">
        <app-students-table
          [columns]="columns"
          [rows]="rows"
          [selected]="selected"
          (onSelect)="onSelect($event)"
        >
        </app-students-table>
      </div>

      <div class="bg-light fixed-bottom p-3">
        Всього: {{rows.length || '0'}}
      </div>
    </div>

    <app-sidebar class="sidebar">
      <button
        *ngIf="selected.length"
        class="btn btn-info w-100 mt-3"
        (click)="stopAcademicVacationModal.openModal(selected[0])"
      >
        Поновити студента
      </button>
    </app-sidebar>
  </div>
</div>

<app-stop-academic-vacation #stopAcademicVacationModal></app-stop-academic-vacation>
