$color-background: #678;
$color-background-active: lighten($color-background, 10%);
$color-text: rgba(255, 255, 255, 0.8);
$color-text-active: #fff;

.Header {
  max-height: 54px;
  min-height: 38px;
  background: $color-background;
  z-index: 100;
}

.user-logout {
  cursor: pointer;
}

.navbar-nav .nav-item {
  padding: 0.5em 1em;

  .nav-link {
    color: $color-text;

    &:after {
      display: none;
    }
  }

  &.active .nav-link {
    background: $color-background-active;
  }

  &:hover,
  &.active {
    .nav-link {
      color: $color-text-active;
    }
  }

  &.dropdown {
    padding: 0;

    .nav-link {
      padding: 1em;
    }
  }
}

.dropdown-item {
  color: $color-text;
  padding: 0.5em 1em;

  &:hover,
  &.active {
    background: $color-background-active;
    color: $color-text-active;
  }
}

.navbar .dropdown-menu,
.navbar-collapse {
  background: $color-background;
}
