.Header {
  max-height: 54px;
  min-height: 38px;
  background: #678;
}

.user-logout {
  cursor: pointer;
}

.navbar-nav .nav-item {
  .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }

  &:hover,
  &.active {
    .nav-link {
      color: #fff;
    }
  }
}
