<nav class="Header navbar navbar-expand-lg navbar-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedIn">
    <nav class="w-100">
      <div class="main-nav">
        <ul>
          <li>
            Початок року
            <ul class="sub-nav">
              <li><a routerLink="/dashboard/specialities">Спеціальності</a></li>
              <li><a routerLink="/dashboard/specializations">Спеціалізації (освітні програми)</a></li>
              <li><a routerLink="/dashboard/groups">Групи</a></li>
              <li>Предмети</li>
              <li><a routerLink="/dashboard/courses-for-groups">Предмети для груп</a></li>
            </ul>
          </li>
          <li>
            Впродовж року
            <ul class="sub-nav">
              <li><a routerLink="/dashboard/students">Студенти</a></li>
              <li><a routerLink="/dashboard/students/expelled">Відраховані студенти</a></li>
              <li><a routerLink="/dashboard/students/in-vacation">Студенти в академ. відпустці</a></li>
              <li><a routerLink="/dashboard/grades">Оцінки</a></li>
            </ul>
          </li>
          <li>
            Кінець року
            <ul class="sub-nav">
              <li>Закінчити навчальний рік</li>
            </ul>
          </li>
          <li>
            Документи
            <ul class="sub-nav">
              <li><a routerLink="/dashboard/documents/exam-report">Відомості</a></li>
              <li>Зведені відомості</li>
              <li><a routerLink="/dashboard/documents/diploma-supplement">Додатки до диплому</a></li>
              <li>Виписки в особові справи</li>
              <li>Виписки в журнали</li>
              <li>Академічні довідки</li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link user-logout" (click)="logout()" title="Вийти">Вийти</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
