<nav class="Header navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="diplsuppl" class="nav-link">Додаток до диплому</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="examreport" class="nav-link">Exam report</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="students" class="nav-link">Студенти</a>
      </li>
    </ul>
  </div>
</nav>
