<nav class="Header navbar navbar-expand-lg navbar-light position-fixed w-100 py-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedIn">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="nav-year-start" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Початок року
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-year-start">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/specialities">Спеціальності</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/specializations">Спеціалізації (освітні програми)</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/groups">Групи</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/course">Предмети</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/courses-for-groups">Предмети для груп</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/teachers">Викладачі</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/departments">Кафедри</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="nav-year-middle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Впродовж року
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-year-middle">
          <a class="dropdown-item" routerLinkActive="active"
             routerLink="/dashboard/students" [routerLinkActiveOptions]="{exact: true}">Студенти</a>
          <a class="dropdown-item" routerLinkActive="active"
             routerLink="/dashboard/students/expelled" [routerLinkActiveOptions]="{exact: true}">Відраховані студенти</a>
          <a class="dropdown-item" routerLinkActive="active"
             routerLink="/dashboard/students/in-vacation" [routerLinkActiveOptions]="{exact: true}">Студенти в академ. відпустці</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/grades">Оцінки</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/students/stipend" [routerLinkActiveOptions]="{exact: true}">Стипендія</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard/reports/debts" [routerLinkActiveOptions]="{exact: true}">Звіт з успішності</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="nav-year-end" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Кінець року
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-year-end">
          <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink="/dashboard/finish-study-year">Закінчити навчальний рік</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="nav-documents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Документи
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-documents">
          <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink="/dashboard/documents/exam-report">Відомості</a>
          <a class="dropdown-item" routerLinkActive="active" href="#">Зведені відомості</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink="/dashboard/documents/diploma-supplement">Додатки до диплому</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink="/dashboard/documents/personal-file-statement">Виписки в особові справи</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             routerLink="/dashboard/documents/additional-documents">Додаткові документи</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link">
          <svg class="mr-1 svg-icon" viewBox="0 0 448 512">
            <use xlink:href="assets/img/icons-sprite.svg#user"></use>
          </svg>
          {{userName}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link analytics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           routerLink="/dashboard/analytics">Аналітика</a>
      </li>
      <li class="nav-item">
        <a class="nav-link user-logout" (click)="logout()" title="Вийти">Вийти</a>
      </li>
    </ul>
  </div>
</nav>
