<div class="modal"
     bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" [ngClass]="tableView && 'modal-full'" role="document">
    <form #inputFileForm="ngForm" (ngSubmit)="onFileUpload()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{modalName}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <tabset *ngIf="tableView">
            <tab class="tab-body" heading="Коректні дані">
              <table class="table table-sm table-striped table-bordered mt-4">
                <thead>
                <tr>
                  <td>№</td>
                  <td>Прізвище</td>
                  <td>Ім'я</td>
                  <td>По-батькові</td>
                  <td>Серія та номер диплому</td>
                  <td>Спеціальність</td>
                  <td>Група</td>
                </tr>
                </thead>
                <tr *ngFor="let student of diplomaSynchronizedData let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ student?.surname}}</td>
                  <td>{{ student?.name }}</td>
                  <td>{{ student?.patronimic}}</td>
                  <td>{{ student?.diplomaSeriesAndNumber}}</td>
                  <td>{{ student?.fullSpecialityName}}</td>
                  <td>{{ student?.groupName }}</td>
                </tr>
              </table>
            </tab>
            <tab class="tab-body" heading="Некоректні дані">
              <table class="table table-sm table-striped table-bordered mt-4">
                <thead>
                <tr>
                  <td>№</td>
                  <td>Прізвище</td>
                  <td>Ім'я</td>
                  <td>По-батькові</td>
                  <td>Серія та номер диплому</td>
                  <td>Спеціальність</td>
                  <td>Група</td>
                  <td>Повідомлення</td>
                </tr>
                </thead>
                <tr *ngFor="let student of missingRedData; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.surname }}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.name }}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.patronimic }}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.diplomaSeriesAndNumber}}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.fullSpecialityName}}</td>
                  <td>{{ student?.diplomaAndStudentSynchronizedDataBean.groupName}}</td>
                  <td>{{ student?.message}}</td>
                </tr>
              </table>
            </tab>
          </tabset>
          <div class="input-group" *ngIf="fileField">
            <input
              type="file"
              name="file"
              class="custom-file-input"
              id="importFile"
              accept=".xlsx,.xls"
              #file="ngModel"
              [ngModel]="fileNameValid"
              appExpectedName=".+.((xls)|(xlsx))$"
              (change)="setFileName($event)"
              required
            >
            <label class="custom-file-label" for="importFile">{{fileName}}</label>

            <div class="w-100 mt-4" *ngIf="!file.valid && file.dirty">
              <p class="alert alert-danger" *ngIf="file.errors?.appExpectedName">
                Некоректне розширення файлу
              </p>
            </div>
          </div>


          <div class="loader__content" *ngIf="uploadInProgress">
            <loading [size]="50"></loading>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" *ngIf="downloadButton" type="submit"
                  [disabled]="uploadInProgress || !inputFileForm.form.valid">
            Завантажити
          </button>
          <button class="btn btn-success" *ngIf="tableView" type="button"  (click)="saveDiplomaNumbers()"
                  [disabled]="saveButton">
            Зберегти
          </button>
          <button class="btn btn-primary" *ngIf="tableView" type="button" (click)="hideModal()">Відмінити</button>
          <button class="btn btn-primary" *ngIf="resultView" type="button" (click)="hideModal()">Закрити</button>
        </div>
      </div>
    </form>
  </div>
</div>
