<section class="orders container-fluid h-100">
  <div class="orders-controls">
    <form [formGroup]="ordersForm" class="d-flex h-100">
        <div class="order-control">
          <div class="toggle active">
            <mat-slide-toggle [disableRipple]="true" formControlName="activeOrder" (click)="setCountriesToFranceAustralia()">
              {{'Підписані накази'}}
            </mat-slide-toggle>
          </div>
        </div>
        <div class="order-control">
          <div class="toggle draft">
            <mat-slide-toggle [disableRipple]="true" formControlName="draftOrder">
              {{'Проекти наказів'}}
            </mat-slide-toggle>
          </div>
        </div>
        <div class="order-control">
          <div class="toggle rejected">
            <mat-slide-toggle [disableRipple]="true" formControlName="rejectedOrder">
              {{'Відхилені накази'}}
            </mat-slide-toggle>
          </div>
        </div>
    </form>
  </div>
  <div class="orders-container d-flex">
    <div class="orders-table-container">
      <ag-grid-angular
        class="ag-theme-balham orders-table"
        enableCellChangeFlash=true
        [columnDefs]="colDefaults"
        [rowData]="rowData"
        [animateRows]="true"
        [modules]="agGridModules"
        [defaultColDef]="columnColDef"
        (gridReady)="onGridReady($event)"
        (modelUpdated)="onModelUpdated($event)"
        (selectionChanged)="onSelectionChanged()"
        (rowClicked)="onRowClicked($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="orders-action-container">
      <button
        class="order-btn success w-100"
        (click)="addOrder.modal.show()"
      >
        Створити наказ
      </button>
      <button [ngClass]="{'shift-btn' : selectedRowStatus !== 'Проект'}" class="order-btn draft w-100 mt-3">
        Редагувати
      </button>
      <button [ngClass]="{'shift-btn' : selectedRowStatus === null}" class="order-btn show w-100 mt-3">
        Переглянути
      </button>
      <button [ngClass]="{'shift-btn' : selectedRowStatus !== 'Відхилений'}" class="order-btn reject w-100 mt-3">
        Видалити
      </button>
      <button [ngClass]="{'shift-btn' : selectedRowStatus !== 'Проект'}" class="order-btn sign w-100 mt-3">
        Позначити як підписаний
      </button>
      <button [ngClass]="{'shift-btn' : selectedRowStatus === null}" class="order-btn show w-100 mt-3">
        Завантажити
      </button>
    </div>
  </div>
  <div class="bg-light fixed-bottom p-1">
    Всього: {{rowData.length }}
  </div>
</section>

<add-order #addOrder>

</add-order>
