<section class="orders container-fluid h-100">
  <div class="orders-controls">
    <form [formGroup]="orders" class="d-flex h-100">
        <div class="order-control">
          <div class="toggle active">
            <mat-slide-toggle [disableRipple]="true" formControlName="activeOrder">
              {{'Активні накази'}}
            </mat-slide-toggle>
          </div>
        </div>
        <div class="order-control">
          <div class="toggle draft">
            <mat-slide-toggle [disableRipple]="true" formControlName="draftOrder">
              {{'Проекти наказів'}}
            </mat-slide-toggle>
          </div>
        </div>
        <div class="order-control">
          <div class="toggle rejected">
            <mat-slide-toggle [disableRipple]="true" formControlName="rejectedOrder">
              {{'Відхилені накази'}}
            </mat-slide-toggle>
          </div>
        </div>
    </form>
  </div>
  <div class="orders-container d-flex">
    <div class="orders-table-container">
      <ag-grid-angular
        class="ag-theme-balham orders-table"
        enableCellChangeFlash=true
        [columnDefs]="colDefaults"
        [rowData]="rowData"
        [animateRows]="true"
        [defaultColDef]="columnColDef"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
    <div class="orders-action-container">

    </div>
  </div>

</section>
