<div class="card">
  <div class="card-body">
    <div class="div-table">
      <table *ngIf="!loading" class="table table-striped table-sm fs-13">
        <thead>
        <div *ngIf="courses">
          <th></th>
        </div>
        <th>Назва</th>
        <th>Контроль</th>
        <th>Години</th>
        </thead>
        <div class="empty" *ngIf="!courses">Виберіть групу та семестр</div>
        <tr *ngFor="let course of courses | coursesSearch : searchText; let i = index">
          <td><input type="checkbox" (change)="changeSelectedCoursesList($event.target.checked, course, i)"></td>
          <td>{{ course.courseName.name }}</td>
          <td>{{ course.knowledgeControl.name }}</td>
          <td>{{ course.hours }}</td>
        </tr>
      </table>
      <loading *ngIf="loading"></loading>
    </div>
  </div>
</div>
