<div>
  <div class="card">
    <div class="card-header">
      Предмети
    </div>
    <div class="div-table">
      <table *ngIf="!loading" class="table table-striped">
        <thead>
        <td></td>
        <td>Назва</td>
        <td>Контроль</td>
        <td>Години</td>
        </thead>
        <tr *ngFor="let course of courses | coursesSearch : searchText; let i = index">
          <td><input type="checkbox" (change)="changeSelectedCoursesList($event.target.checked, course, i)"></td>
          <td>{{ course.courseName.name }}</td>
          <td>{{ course.knowledgeControl.name }}</td>
          <td>{{ course.hours }}</td>
        </tr>
      </table>
      <loading *ngIf="loading"></loading>
    </div>
  </div>
</div>

