.statement-wrapper {
  padding: 5px 20px;
}
h2,
h3 {
  text-transform: uppercase;
  color: #222;
}
table {
  margin: 0;
}
table td {
  border: 2px solid #dee2e6;
  padding: 3px 4px;
  text-align: left;
}
table thead td {
  border: 2px solid #dee2e6;
  padding: 3px 4px;
  font-weight: bold;
  text-align: center;
}
.wrapp {
  float: left;
  width: 76%;
  height: 60%;
  overflow: hidden;
}
.wrapp-2 {
  float: left;
  width: 24%;
  overflow: hidden;
}
.table-wrapper {
  max-width: 98%;
  height: 60%;
  overflow-y: auto;
  margin: 5px 0;
}
.table-wrapper-2 {
  max-width: 98%;
  float: left;
  height: 490px;
  overflow-y: auto;
  margin: 5px 0;
}

.main-table td:first-child {
  width: 30px;
}
.main-table td:nth-child(4) {
  width: 140px;
}
.main-table td:nth-child(5) {
  width: 45px;
}
.main-table td:nth-child(6) {
  width: 165px;
}
.main-table td:nth-child(7) {
  width: 105px;
}
.main-table tbody td {
  text-align: left;
}
.select-container {
  width: 100%;
  overflow: hidden;
}
.select-wraper {
  float: left;
  width: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}
.select-wraper select {
  width: 120px;
}
.check-input {
  width: 30px;
  float: left;
  overflow: hidden;
  margin-bottom: 5px;
}
.checkbox-wraper {
  margin: 10px 0;
}
label {
  cursor: pointer;
  display: block;
}
.rating-btn {
  width: 505px;
}
h5 {
  margin-bottom: 0;
}

.w-30 {
  width: 30%;
}
