@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

.ngx-datatable.bootstrap {
  .datatable-header {
    background: #99dddd;
    font-weight: bold;

    .datatable-header-cell {
      border: solid #ddd;
      border-width: 1px 1px 0 0;
    }
  }

  .datatable-body .datatable-body-row {
    padding: 5px 10px;
  }
}

.scrollable {
  overflow-y: auto;
}
