@import "~bootstrap/scss/bootstrap";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


html,
body {
  height: 100%;
}
.resize-handle {
  cursor: ew-resize;
  border-right: solid 1px #eee;
}