<main>
  <div class="toolbar">
    <button type="button" class="btn btn-info">Обрати</button>
  </div>

  <div class="q-info">
    <div *ngIf="!hasData()" class="m-auto">
      <b>Для цієї спеціалізації ще не були обрані кваліфікацї</b>
    </div>

    <div *ngIf="hasData()">
      <div>
        <b>Назва українською:</b>
        {{qualification?.name}}
      </div>

      <div>
        <b>Назва англійською:</b>
        {{qualification?.nameEng}}
      </div>

      <div>
        <b>Код:</b>
        {{qualification?.code}}
      </div>
    </div>
  </div>
</main>
