@import "../../../../../styles";

.form-layout {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 55vh;
  height: max-content;

  main, form {
    flex-grow: 1;
  }
}

form {
  @extend .ml-2;
  display: flex;
  order: 1;
  flex-direction: column;
  align-content: stretch;
  min-height: 45%;
  max-height: 350px;
  max-width: none;

  label {
    @extend .mt-1;
  }

  .all-free-height {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    label {
      flex-basis: max-content;
      flex-shrink: 0;
    }

    .input-group {
      flex-grow: 1;

      textarea.form-control {
        resize: none;
      }
    }
  }

  .form-btn\&code {
    display: flex;
    align-content: stretch;

    .input-group {
      flex-grow: 1;
    }

    .form-btn {
      text-align: right;
      width: max-content;
    }
  }
}

@media all and (min-width: 993px) and (min-device-width: 993px) {
  .form-layout {
    flex-direction: row;
  }

  form {
    margin-top: 0.5rem;
    margin-left: 0;
    max-width: 40%;
    min-width: 40%;
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 120px;

  .toolbar {
    flex-basis: max-content;
    flex-shrink: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .q-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

table.qualifications {
  th {
    border-top: none;
  }
}
