<main>
  <div class="toolbar">
    <!--<button type="button" class="btn btn-success mr-1" (click)="save()" *ngIf="hasData()">Зберегти</button>-->
    <button type="button" class="btn btn-info" (click)="changeModal.open()">Обрати</button>
  </div>

  <div class="q-info">
    <div *ngIf="!hasData()" class="m-auto">
      <b>Для цієї спеціалізації ще не були обрані кваліфікацї</b>
    </div>

    <div *ngIf="hasData()">
      <div>
        <b>Назва українською:</b>
        <div>{{qualification?.name}}</div>
      </div>

      <div>
        <b>Назва англійською:</b>
        <div>{{qualification?.nameEng}}</div>
      </div>

      <div>
        <b>Шифр:</b>
        {{qualification?.code}}
      </div>
    </div>
  </div>
</main>

<change-qualification #changeModal (onSubmit)="changeQualification($event)"></change-qualification>
