<modal-wrapper #modal heading="Видалити групи" (hideModal)="hideModal()">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Назва</th>
            <th scope="col">Рік створення</th>
            <th scope="col">Ступінь</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <td>{{group.name}}</td>
            <td>{{group.creationYear}}</td>
            <td>{{group.specialization.degree.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Видалити</button>
      <button type="button" (click)="hideModal()" class="btn btn-outline-danger">Скасувати</button>
    </div>
  </form>
</modal-wrapper>
