<div class="close-button">
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" *ngFor="let group of foreignGroupsAndCourses" >

  <div class="body-item">
    <tr>
      <td>
        <div class="half-of-body">
          <h5>
            Назва інозменої групи: {{group.foreignGroup.name}}
          </h5>
        </div>
      </td>
    </tr>
      <table class="table table-striped table-sm fs-13">
        <thead>
        <tr>
          <th>Назва</th>
          <th>Вид</th>
          <th>Години</th>
          <th>Годин за кредит</th>
        <tr>
        </thead>
        <tr *ngFor="let course of group.differentForeignCourses">
          <td>{{course.courseName.name}}</td>
          <td>{{course.knowledgeControl.name}}</td>
          <td>{{course.hours}}</td>
          <td>{{course.hoursPerCredit}}</td>
        </tr>
      </table>
  </div>

  <div class="body-item">
    <tr>
      <td>
        <div>
        <h5>
          Назва групи: {{group.otherGroup.name}}
        </h5>
        </div>
      </td>
    </tr>
      <table class="table table-striped table-sm fs-13">
        <thead>
        <tr>
          <th>Назва</th>
          <th>Вид</th>
          <th>Години</th>
          <th>Годин за кредит</th>
        <tr>
        </thead>
        <tr *ngFor="let course of group.differentOtherCourses">
            <td>{{course.courseName.name}}</td>
            <td>{{course.knowledgeControl.name}}</td>
            <td>{{course.hours}}</td>
            <td>{{course.hoursPerCredit}}</td>
        </tr>
      </table>
   </div>

</div>
