<div class="close-button">
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngFor="let group of foreignGroupsAndCourses">
  <table class="table table-striped table-sm fs-13">
    <tr>
      <th class="half"><h5>Назва іноземної групи: {{group.foreignGroup.name}}</h5></th>
      <th class="half delimiter"><h5>Назва групи: {{group.otherGroup.name}}</h5></th>
    </tr>
  </table>
  <table class="table table-striped table-sm fs-13">
    <tr>
      <th class="course-name">Назва</th>
      <th class="knowledge-control">Вид</th>
      <th class="small-width">Години</th>
      <th class="small-width">Годин в кредиті</th>
      <th class="small-width">Семестр</th>
      <th class="course-name delimiter">Назва</th>
      <th class="knowledge-control">Вид</th>
      <th class="small-width">Години</th>
      <th class="small-width">Годин в кредиті</th>
      <th class="small-width">Семестр</th>
    </tr>
      <tr *ngFor="let course of group.differentForeignCourses; index as i">
        <td>{{course.courseName.name}}</td>
        <td>{{course.knowledgeControl.name | shortened}}</td>
        <td>{{course.id != 0 ? course.hours : ''}}</td>
        <td>{{course.id != 0 ? course.hoursPerCredit : ''}}</td>
        <td>{{course.id != 0 ? course.semester : ''}}</td>
        <!--<td><button type="button" class="btn btn-success" (click)="copyCourses()">-->
          <!--<- -->
        <!--</button></td>-->
<!--        <td class="delimiter"> </td>-->
        <td class="delimiter">{{group.differentOtherCourses[i].courseName.name}}</td>
        <td>{{group.differentOtherCourses[i].knowledgeControl.name | shortened}}</td>
        <td>{{group.differentOtherCourses[i].id != 0 ? group.differentOtherCourses[i].hours : ''}}</td>
        <td>{{group.differentOtherCourses[i].id != 0 ? group.differentOtherCourses[i].hoursPerCredit : ''}}</td>
        <td>{{group.differentOtherCourses[i].id != 0 ? group.differentOtherCourses[i].semester : ''}}</td>
      </tr>
    <!--<tr><td><button type="button" class="btn btn-success" (click)="bsModalRef.hide()">-->
      <!--Зберегти-->
    <!--</button></td></tr>-->
  </table>
</div>

