<div class="close-button">
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngFor="let group of foreignGroupsAndCourses">
  <table class="table table-striped table-sm fs-13">
    <tr>
      <th colspan="6"><h5>Назва інозменої групи: {{group.foreignGroup.name}}</h5></th>
      <th colspan="5"><h5>Назва групи: {{group.otherGroup.name}}</h5></th>
    </tr>
    <tr>
      <th>Назва</th>
      <th>Вид</th>
      <th>Години</th>
      <th>Годин за кредит</th>
      <th>Семестер</th>
      <th border="1"></th>
      <th>Назва</th>
      <th>Вид</th>
      <th>Години</th>
      <th>Годин за кредит</th>
      <th>Семестер</th>
    </tr>
      <tr *ngFor="let course of group.differentForeignCourses; index as i">
        <td>{{course.courseName.name}}</td>
        <td>{{course.knowledgeControl.name}}</td>
        <td>{{course.hours}}</td>
        <td>{{course.hoursPerCredit}}</td>
        <td>{{course.semester}}</td>
        <td> </td>
        <td>{{group.differentOtherCourses[i].courseName.name}}</td>
        <td>{{group.differentOtherCourses[i].knowledgeControl.name}}</td>
        <td>{{group.differentOtherCourses[i].hours}}</td>
        <td>{{group.differentOtherCourses[i].hoursPerCredit}}</td>
        <td>{{group.differentOtherCourses[i].semester}}</td>
      </tr>
  </table>
</div>
